#brainwallet {
    width: 500px;
}
#brainwallet input {
    /* override bootstrap's .form-control display:block (for narrow screens)*/
    display:inline;
}
#brainwallet textarea {
    /* override bootstrap's .form-control display:block (for narrow screens)*/
    display:inline;
}
#brainwallet .password {
    max-width:200px;
}
#brainwallet .splashpage-wrapper {
    
}
#brainkey {
    width: 350px;
    height: 80px;
}
.locale-selector {
    right:0;
    top:0;
    position:fixed;
}
.locale-selector .btn {
	background-color: transparent;
}
.locale-selector .btn {
	color: lightgrey;
}
.locale-selector .btn:hover {
	color: white;
}
.locale-selector .dropdown-menu {
	background-color: transparent;
}