
#brainwallet input {
    /* override bootstrap's .form-control display:block (for narrow screens)*/
    display:inline;
}
#brainwallet textarea {
    /* override bootstrap's .form-control display:block (for narrow screens)*/
    display:inline;
}
#brainwallet .password {
    max-width:200px;
}

#brainkey {
    width: 350px;
    height: 80px;
}
