.footer-padding {
	padding: 40px 20px;
	height: 2px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 36px;
	background-color: #f5f5f5;
	padding: 0;
  font-size: 13px;
}

footer .icon {
	padding-left: 10px;
}

footer.normal-state {
	background-color: #c4e6a9;
}

footer.warning-state {
	background-color: #d9b856;
}

footer.severe-state {
	background-color: #c6a4a4;
}

footer.other-state {
	background-color: rgb(200,200,200);
}

footer p {
	margin: 15px 20px 0 0;
	color: #000;
	bottom: 6px;
	position: relative;
	float: right;
}

footer a {
	color: #000;
	text-decoration: underline;
}

footer img.connections {
	width: 24px;
	height: 24px;
	position: relative;
	top: -2px;
}

footer .wallet-status > i {
	font-size: 18px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	margin-right: 6px;
}

footer .blockchain-status > i {
	font-size: 14px;
	line-height: 14px;
	margin: 0;
	padding: 0;
	position: relative;
}

footer .logo img {
    height: 36px;
	  margin: 0 0 0 8px;
    padding-right: 5px;
}

.connection { display: none; }
.no-connection { display: none; }

.signal-1 .bar-1 { fill: #222; }
.signal-2 .bar-1 { fill: #222; }
.signal-2 .bar-2 { fill: #222; }
.signal-3 .bar-1 { fill: #222; }
.signal-3 .bar-2 { fill: #222; }
.signal-3 .bar-3 { fill: #222; }
.signal-4 .bar-1 { fill: #222; }
.signal-4 .bar-2 { fill: #222; }
.signal-4 .bar-3 { fill: #222; }
.signal-4 .bar-4 { fill: #222; }

.signal-0 .connection { display: none; }
.signal-1 .connection { display: inline; }
.signal-2 .connection { display: inline; }
.signal-3 .connection { display: inline; }
.signal-4 .connection { display: inline; }

.signal-0 .no-connection { display: inline; }
.signal-1 .no-connection { display: none; }
.signal-2 .no-connection { display: none; }
.signal-3 .no-connection { display: none; }
.signal-4 .no-connection { display: none; }
