.form-error {
	margin-bottom: 0;
}

.has-error .input-group-addon, .input-group-addon {
	color: #777;
	width: 80px;
}

.input-group-addon {
	font-size: 12px;
}

.hgroup-no-top-space {
	margin-top: -15px;
}

span.help-block {
	margin-bottom: 0;
	font-size: 90%;
}
