.ng-pageslide {
	background-color: #eee;
	overflow-y: scroll;
	/*padding-right: 10px;*/
}

.close-help-link {
	/*padding-top: 8px;*/
	/*padding-right: 5px;*/
	/*float: right;*/
	color: #393939;
	text-decoration: none;
	position: fixed;
	top: 5px;
	right: 15px;
	padding: 5px 10px;
	background-color: #ddd;
	border-radius: 4px;
}

.close-help-link:hover {
	color: #01bbf4;
	text-decoration: none;
}

.context-help-content {
	padding: 10px;
	padding-top: 30px;
	font-size: 14px;
}

.context-help-content h1 {
	margin-top: 0;
	font-size: 24px;
	text-align: center;
}
