.snap-drawer-right {
	background-color: #777;
	color: #fff;
	padding: 10px;
}


.splash .snap-drawer-right {
	display: none;
}

/*body, .snap-content, .sidebar, .body, .navbar, .nav, .content, ul, li, .panel {*/
	/*-webkit-backface-visibility: hidden !important;*/
/*}*/
