
/*
 * Main content
 */
.content {
	background: none;
	overflow: hidden;
	zoom: 1;
	margin-top: 0;
}

.sidebar {
	background: none;
	width: 190px;
	position: fixed;
	margin-top: 10px;
}

body.fixed_header .wrapper {
	padding-top: 0;
}
