.body {
	margin-top: 36px;
}

.content {
	background: none;
	overflow: hidden;
	zoom: 1;
	margin-top: 0;
}

.sidebar {
	background: none;
	width: 190px;
	position: fixed;
	margin-top: 0;
	top: 36px;
}

body.fixed_header .wrapper {
	padding-top: 0;
}
