
.mail .email:before {
    content: "\f0e0"; /* fa-envelop */
}
.mail .transaction_notice:before {
    content: "\f08b";/*fa-sign-out*/
}
.mail .edit {
    color: darkkhaki;
}
.mail .message_icon {
    color: darkcyan;
}
.fa {
    font-size: 20pt;   
}
.mail .sender {
    font-size: 22px;
}
.mail a:hover{
    text-decoration: none;
}
.mail .hover:hover {
    background-color: #f5f5f5;
}
.mail .preview {
    height: 80px;
}
.mail .deleted {
    background-color: darkgrey;
}
.mail #deleted_text {
    font-size: 22px;
    margin-top: 30px;
    color: initial;
}