/* Fonts  */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 100;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('/webfonts/opensans-light.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/webfonts/opensans-regular.eot');
	src: url('/webfonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('/webfonts/opensans-regular.woff') format('woff'), url('/webfonts/opensans-regular.ttf') format('truetype'), url('/webfonts/opensans-regular.svg#open_sansregular') format('svg');

}

@media (min-width: 1200px) and (max-width: 1400px) {
	.hideableCol {
		display:none;
	}
}

svg {
	display: inline;
	width: auto;
	height: auto;
}

a, * {
 cursor: default !important;
}

a:focus {
  outline: 0;
}

.delegate-active-link{
	font-family:"Georgia";
	font-size:140%;
}

.delegate-inactive-link{
	font-family:"Georiga";
	font-style:italic;
	font-size:150%;
}

.my-account-link, .my-account-link:hover {
	/*color:green;*/
	text-decoration: none !important;
}

.pointer {
	cursor: pointer;
}

/* Colors & Gradients */

body {
	color: #555;
}

.table > thead > tr > th {
	color: #aaa;
}

.white, a.white {
	color: #fff;
}

.panel {
 padding-bottom: 0;
}

.popover {
  max-width: 476px;
}

/*Change the size here*/
div.tooltip-inner {
    max-width: 550px;
}

/*Turn off spinner (arrows for numbers)*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

a.white:hover {
	color: #000;
	opacity: 0.4;
}

.white-shadow {
	color: #fff;
	text-shadow: 0 1px 2px black;
}

.green {
	color: #84ce84;
}

.green-shadow {
	color: #84ce84;
	text-shadow: 1px 2px 2px #0e434f;
}

.red {
	color: #d97572;
}

.bg-primary {
	background-color: #01bbf4;
}

.primary {
	color: #01bbf4;
}

.btn-primary[disabled] {
	background-color: #eee;
	color: #888;
}

.bg-secondary {
	background: -webkit-linear-gradient(45deg, #102a44 0%, #1d799a 100%) repeat-y #004280;
	background: -moz-linear-gradient(45deg, #102a44 0%, #1d799a 100%) repeat-y #004280;
	background: -ms-linear-gradient(45deg, #102a44 0%, #1d799a 100%) repeat-y #004280;
	background: linear-gradient(45deg, #102a44 0%, #1d799a 100%) repeat-y #004280;
	color: #fff;
}

.secondary {
	color: #01bbf4;
}

.bg-third {
	background-color: #84ce84;
}

.third {
	color: #84ce84;
}

/* General  */

.m-top {
	margin-top: 24px;
}

.m-bottom {
	margin-bottom: 12px;
}

.m-left {
	margin-left: 12px;
}

.m-right {
	margin-right: 12px;
}

.p-inner {
	padding: 12px 24px;
}

.long-shorten-text-r {
	float: right;
	max-width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.long-shorten-text-l {
	float: left;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.long-shorten-text-r:hover, .long-shorten-text-l:hover {
	text-overflow: initial;
}

.bold {
	font-weight: 600;
}

a:hover, a:focus, {
	color: #115176;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	color:rgb(40,169,246);
	border: 1px solid transparent;
}

.nav-tabs > li.active > a:hover {
	color: rgb(40,169,246);
	border-bottom: 1px solid #fff;
}


.nav-tabs > li > a{
	color: black;
}

.nav-tabs > li.active > a {
	color: rgb(40,169,246);
	border-bottom: 1px solid #fff;
}

.sidebar .nav li > a {
	border-left: solid 3px transparent;
	padding-left: 12px;
}

.sidebar .nav .active > a, .sidebar .nav .active > a:hover, .sidebar .nav .active > a:focus {
	border-left: solid 3px #01bbf4;
}

/* Buttons & Elements */

.btn-top-right {
	margin: 32px 2px 0 0;
}

/* Header Section  */

.head-bg {
	background: #0c3146 url('../img/xt-background.jpg') no-repeat left top;
	background-size: cover;
}

.head-bg-delegate {
	background: #0c3146 url('../img/delegate-hue.jpg') no-repeat left top;
	background-size: cover;
}

.head-bg-delegate .primary {
	color: #fff;
}

.header {
	border-bottom: 1px solid #d5d8d9;
}

tabset:hover {
	cursor: pointer;
}

/* Home  */

.stat span {
	font-weight: 100;
	
}

li.stat {
	letter-spacing: 0px;
}

/* My Accounts */

.table-acc-balance {
	font-size: 2rem;
	background: none;
	border: none;
	color: #fff;
	font-weight: 100;
	letter-spacing: 1px;
	margin-top: 24px;
}

.table-acc-balance td {
	font-size: 1.4rem;
	letter-spacing: 1px;
	font-weight: 100;
}

.table-acc-balance > tbody > tr > td {
	border-top: 1px dotted rgb(255, 255, 255);
	border-top: 1px dotted rgba(255, 255, 255, .5);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.table tbody tr > td.error {
    color: #c06002 !important;
}

.table-acc-balance > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background: none;
}

.account-from {
    font-size: 22px;
    color: #fff;
    padding-right: 8px;
    position: relative;
    top: 4px;
}

/* Account Details */

.bg-dark {
	background-image: -webkit-linear-gradient(45deg, #0e81aa 0%, #0b2c3f 100%);
	background-image: -moz-linear-gradient(45deg, #0e81aa 0%, #0b2c3f 100%);
	background-image: -ms-linear-gradient(45deg, #0e81aa 0%, #0b2c3f 100%);
	background-image: linear-gradient(45deg, #0e81aa 0%, #0b2c3f 100%);
}

.reg-date {
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: 100;
}

.move-right-50px {
	position: relative;
	left: 50px;
}

/* Directory  */

.directory-add-contact {
	margin-top: 12px;
}

.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	width: 400px;
	height: 300px;
}

/* Transactions */

.tx-amount {
	padding: 4px 12px;
	font-size: 13px;
	font-weight: 700;
}

input.ng-dirty.ng-invalid {
	border: 1px solid #f00;
}

.form-group span.text-muted {
	color: #999;
}

.has-error .input-group-addon, .input-group-addon {
	border: none;
	color: #fff;
}

.license {
	padding-top: 20px;
	text-align: center;
}

.license-body {
	height: 300px;
	overflow-y: scroll;
	margin: 24px 0;
}

/* avatars */
.avatar-40 {
	width: 40px;
	margin: 0 auto;
}

.avatar-150 {
	width: 150px;
	margin: 0 auto;
}

.clickable {
	/*text-decoration: underline;*/
	border-bottom: 1px dotted;
}

.trx-from-to {
	font-size: 110%;
}

.trx-from-to img {
	width: 36px;
	height: 36px;
	position: relative;
	top: -5px;
}

.avatar-40 img {
	position: relative;
	top: -5px;
}

.pagination a.btn-primary, .pagination a.btn-primary:hover {
	color: #fff !important;
	background-color: #01bbf4 !important;
}

.alphabet > ul {
	margin: 0;
}

.help-popover {
	font-size: 90%;
	padding: 2px;
	padding-bottom: 0;
	color: #aaa;
	border-bottom: 1px dotted #aaa;
}
