/* Fonts  */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('/webfonts/Roboto-Regular-webfont.eot');
	src: url('/webfonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/webfonts/Roboto-Regular-webfont.woff') format('woff'), url('/webfonts/Roboto-Regular-webfont.ttf') format('truetype'), url('/webfonts/Roboto-Regular-webfont.svg#roboto_regular') format('svg');
}

@font-face {
	font-family: 'Roboto Light';
	font-style: normal;
	font-weight: 100;
	src: url('/webfonts/Roboto-Light-webfont.eot');
	src: url('/webfonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/webfonts/Roboto-Light-webfont.woff') format('woff'), url('/webfonts/Roboto-Light-webfont.ttf') format('truetype'), url('/webfonts/Roboto-Light-webfont.svg#roboto_light') format('svg');
}



@media (min-width: 1200px) and (max-width: 1400px) {
	.hideableCol {
		display:none;
	}
}

svg {
	display: inline;
	width: auto;
	height: auto;
}

a, * {
 cursor: default !important;
}

a:focus {
  outline: 0;
}

a:hover, a:focus, {
	color: #115176;
	text-decoration: none !important;
}

canvas, body.mac img, body.mac b.caret, body.mac span.caret, body.mac i.fa {
	vertical-align: middle;
}

body.windows canvas, body.windows img, body.windows b.caret, body.windows span.caret, body.windows i.fa {
	vertical-align: baseline !important;
}

body.windows b.caret, body.windows span.caret {
	position: relative;
	top: -2px;
}

.fa-check {
	vertical-align: baseline !important;
}

.delegate-active-link{
	font-family:"Roboto";
	font-size:140%;
}

.delegate-inactive-link{
	font-family:"Roboto";
	font-style:italic;
	font-size:150%;
}

.my-account-link, .my-account-link:hover {
	text-decoration: none !important;
}

.pointer {
	cursor: pointer;
}

/* Colors & Gradients */

body {
	color: #555;
	background-color: #fff;
}

.table a {
  text-decoration: none;
}

.fa-2x {
	font-size: 1.6em;
}

.white, a.white {
	color: #fff;
}

/*Change the size here*/
div.tooltip-inner {
    max-width: 550px;
}

/*Turn off spinner (arrows for numbers)*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.no-bottom-border {
	border-bottom: none !important;
}

a.white:hover {
	color: #000;
	opacity: 0.4;
}

.white-shadow {
	color: #fff;
	/*text-shadow: 0 1px 2px black;*/
}

.green {
	color: #84ce84;
}

.green-shadow {
	color: #84ce84;
	text-shadow: 1px 2px 2px #0e434f;
}

.red {
	color: #d97572;
}

.primary {
	color: #1B6FC1;
}

.bg-secondary {
	background: -webkit-linear-gradient(45deg, #102a44 0%, #1d799a 100%) repeat-y #004280;
	background: -moz-linear-gradient(45deg, #102a44 0%, #1d799a 100%) repeat-y #004280;
	background: -ms-linear-gradient(45deg, #102a44 0%, #1d799a 100%) repeat-y #004280;
	background: linear-gradient(45deg, #102a44 0%, #1d799a 100%) repeat-y #004280;
	color: #fff;
}

.secondary {
	color: #1B6FC1;
}

.bg-third {
	background-color: #84ce84;
}

.third {
	color: #84ce84;
}

/* General  */

.m-top {
	margin-top: 24px;
}

.no-top-space {
	margin-top: 0;
	padding-top: 0;
}

.no-bottom-space {
	margin-bottom: 0;
	padding-bottom: 0;
}


.m-bottom {
	margin-bottom: 12px;
}

.m-left {
	margin-left: 12px;
}

.m-right {
	margin-right: 12px;
}

.p-inner {
	padding: 12px 24px;
}

.long-shorten-text-r {
	float: right;
	max-width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.long-shorten-text-l {
	float: left;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.long-shorten-text-r:hover, .long-shorten-text-l:hover {
	text-overflow: initial;
}

.bold {
	font-weight: 600;
}

.sidebar .nav li > a {
	border-left: solid 3px transparent;
	padding-left: 12px;
}

.sidebar .nav .active > a, .sidebar .nav .active > a:hover, .sidebar .nav .active > a:focus {
	border-left: solid 3px #1B6FC1;
}

/* Buttons & Elements */

.btn-top-right {
	margin-top: 10px;
}

/* Header Section  */

.head-bg {
	background: #3a5b7a url('../img/xt-background.jpg') no-repeat left top;
	background-size: cover;
}

.head-bg-delegate {
	background: #0c3146 url('../img/delegate-hue.jpg') no-repeat left top;
	background-size: cover;
}

.head-bg-delegate .primary, .head-bg .primary {
	color: #ddd;
}

.head-bg-delegate .primary:hover, .head-bg .primary:hover {
	color: #fff;
}

.header {
	border-bottom: 1px solid #d5d8d9;
	margin-bottom: 6px;
}

tabset:hover {
	cursor: pointer;
}

/* Home  */

.stat span {
	font-weight: 100;
	
}

li.stat {
	letter-spacing: 0px;
}

/* My Accounts */

.table-acc-balance {
	font-size: 2rem;
	background: none;
	border: none;
	color: #fff;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.table-acc-balance td {
	font-size: 1.4rem;
	letter-spacing: 1px;
	font-weight: 100;
}

.table-acc-balance > tbody > tr > td {
	border-top: 1px dotted rgb(255, 255, 255);
	border-top: 1px dotted rgba(255, 255, 255, .5);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.table tbody tr > td.error {
    color: #c06002 !important;
}

.table-acc-balance > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background: none;
}

.account-from {
    font-size: 22px;
    color: #fff;
    padding-right: 8px;
    position: relative;
    top: 4px;
}

/* Account Details */

.bg-dark {
	background-image: -webkit-linear-gradient(45deg, #0e81aa 0%, #0b2c3f 100%);
	background-image: -moz-linear-gradient(45deg, #0e81aa 0%, #0b2c3f 100%);
	background-image: -ms-linear-gradient(45deg, #0e81aa 0%, #0b2c3f 100%);
	background-image: linear-gradient(45deg, #0e81aa 0%, #0b2c3f 100%);
}

.reg-date {
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: 100;
}

.avatar-150-min-width {
	min-width: 170px;

}

.account-page .btn-primary {
	background-color: transparent;
	color: #ddd;
	border: 1px solid #ddd;
	transition: all 0.3s ease 0s;
}

.account-page .btn-primary:hover {
	background-color: #ddd;
	color: #000;
	border: 1px solid #fff;
}

/* Directory  */

.directory-add-contact {
	margin-top: 12px;
}

.gridStyle {
	border: 1px solid rgb(212, 212, 212);
	width: 400px;
	height: 300px;
}

/* Transactions */

.tx-amount {
	padding: 4px 12px;
	font-size: 13px;
	font-weight: 700;
}

input.ng-dirty.ng-invalid {
	border: 1px solid #d97572;
}

.form-group span.text-muted {
	color: #999;
}

.license {
	padding-top: 20px;
	text-align: center;
}

.license-body {
	height: 300px;
	overflow-y: scroll;
	margin: 24px 0;
}

/* avatars */
.avatar-40 {
	width: 40px;
	margin: 0 auto;
}

.avatar-150 {
	width: 170px;
	margin: 0 0 0 auto;
	padding: 0 10px;
}

.avatar-150 h3 {
	margin: 0;
}

.clickable {
	/*text-decoration: underline;*/
	border-bottom: 1px dotted;
}

.clickable:hover {
	/*text-decoration: underline;*/
	border-bottom: 1px solid;
}

.trx-from-to {
	font-size: 110%;
}

.trx-from-to img {
	width: 36px;
	height: 36px;
	position: relative;
	top: -5px;
}

.avatar-40 img {
	position: relative;
	top: -5px;
}

.pagination a.btn-primary, .pagination a.btn-primary:hover {
	color: #fff !important;
	background-color: #1B6FC1 !important;
}

.alphabet > ul {
	margin: 0;
}

.help-popover {
	font-size: 90%;
	color: #aaa;
	margin-left: 4px;
}

.transfer-amount-error {
	position: relative;
	top: -14px;
}

.text-lighter {
	font-weight: lighter;
}

.account-name {
	color: white;
	font-size: 200%;
}

.account-key {
	padding-left: 24px;
	color: #bbb;
}

.referral-success p, .referral-success i {
	font-size: 200%;
	color: #00aa00;
}

.vote-tab-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.newcontact-modal-form {
	padding: 18px 20px 0 20px;
}

.modal-content .avatar {
	margin-top: 18px;
}

.contacts-list .list-group-item:hover {
	background-color: #eef8ff;
}

.contacts-list {
	max-height: 340px;
	overflow-y: auto;
}

.remove-contact-btn {
	padding: 4px;
}

/* outline buttons */
.btn.outline {
	background: none;
	padding: 12px 22px;
	transition: all 0.3s ease 0s;
}


.btn.off {
	background: none;
	transition: all 0.3s ease 0s;
}

.btn-sm, .btn-sm.outline {
	padding: 4px 8px;
	font-size: 90%;
}

.btn-primary.outline {
	border: 1px solid #1b6fc1;
	color: #1b6fc1;
}

.btn-primary.outline:hover, .btn-primary.outline:active, .btn-primary.outline.active {
	color: #fff;
	border-color: #1b6fc1;
}

.btn-primary.outline:focus {
	color: #1b6fc1;
}

.btn-primary.outline:focus:hover {
	color: #fff;
}

.btn-info.outline {
	border: 1px solid #4dbadb;
	color: #4dbadb;
}

.btn-info.outline:hover, .btn-info.outline:active, .btn-info.outline.active, .btn-info.outline:focus.active {
	color: #fff;
	background-color: #4dbadb;
	border-color: #4dbadb;
}

.btn-info.outline:focus {
	color: #4dbadb;
}

.btn-info.outline:focus:hover {
	color: #fff;
}

.icon-column {
	width: 2em;
}

.delegates-title:hover {
	color: #1B6FC1;
}

.delegates-filter {
	padding:1em;
}

.delegates-filter .input-group-addon {
	width: 40px;
}

.dropdown-menu.left {
   left: auto !important;
   right: 0px;
}

.wallet-sync-warning {
    display: block;
    width: 360px;
    float: right;
}

.account-name-with-id {
    color: #000;
}

.account-name-with-id .account-name {
    font-size: 120%;
    color: #000;
}

.account-name-with-id .account-id, .account-name-with-id .registration-date {
    color: #94abb9;
    white-space: nowrap;
    font-size: 90%;
}

.account-page .account-name-with-id .account-name{
    color: #fff;
}

.add-to-address-book {
    margin-top: 10px;
}

.address-book-account-id {
    color: #94abb9;
    margin-left: 10px;
    font-size: 80%;
}


a.delegate-link {
  text-shadow: none;
}

