.ngRow.even {
        background-color: rgb(255, 255, 255);
    }
    

.ngRow.odd {
    background-color: rgb(240, 240, 255);
}


.ngHeaderCell {
	background-color: rgb(223,242,223);
}

.ngHeaderCell {
	background-color: rgb(247,247,247);
}

