.splashpage .splashpage-wrapper {
	font-family: 'Open Sans', sans-serif;
	color: #eee;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.splashpage {
	background: #3a5b7a url('/img/xt-background.jpg') no-repeat left top !important;
	background-size: cover !important;
	margin: 0;
}

.splashpage .body, .splashpage .main-view {
	height: 100%;
	margin: 0;
}

.splashpage .btn-primary {
	background-color: transparent;
	color: #ddd;
	border: 1px solid #ddd;
	transition: all 0.3s ease 0s;
}

.splashpage .btn-primary[disabled] {
	border: 1px solid #aaa;
	opacity: 1.0;
	color: #aaa;
}

.splashpage .btn-primary:hover {
	background-color: #ddd;
	color: #000;
	border: 1px solid #fff;
}

/*.splashpage > .wrapper.flowers {*/
	/*background: #3a5b7a url('/img/flowers-background.jpg') no-repeat left top !important;*/
	/*background-size: cover !important;*/
/*}*/

.splashpage .navbar {
	display: none !important;
}

.splashpage .sidebar {
	display: none !important;
}

.splashpage .content {
	margin: 0;
}

.splashpage .loading-overlay {
	left: 95px;
}

.splashpage-wrapper {
	width: 400px;
	height: 600px;
	text-align: center;
	vertical-align: middle;
}

.splashpage-wrapper > section {
	width: 400px;
	margin: 0 auto;
}

.splashpage-wrapper .description.default {
	font-size: 12px;
	color: #ccc;
}

.splashpage-wrapper .description.flowers {
	font-size: 12px;
	color: #4C3434;
}

.splashpage-wrapper .str-top {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.splashpage-wrapper .str-top img { margin-bottom: 4px; }

.splashpage-wrapper .str-top h4 {
	margin: 18px 0;
    font-size: 20px;
	font-family: 'Calibri Light', 'Helvetica Neue', 'Helvetica Light', 'Helvetica', Arial, sans-serif;
	font-weight: 100;
	letter-spacing: 1.4px;
}

.splashpage-wrapper .str-content {
	text-align: center;
	padding: 20px 10px 5px;
	cursor: pointer;
}

.splashpage-wrapper .str-content.flowers {
	color: #4C3434;
}

.splashpage-wrapper .str-arrow {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10px;
	text-decoration: none;
	padding-bottom: 10px;
}

.splashpage-wrapper .str-arrow:hover {
	text-decoration: none;
	color: #6bd3f3;
}

/*.splashpage-wrapper .str-bottom {*/
	/*height: 40px;*/
	/*padding: 25px;*/
	/*text-align: center;*/
	/*border-top: 1px solid rgba(255, 255, 255, .5);*/
	/*-webkit-background-clip: padding-box; for Safari background-clip : padding-box; for IE9+, Firefox 4 +, Opera, Chrome*/
/*}*/

.splashpage-wrapper .str-bottom img { margin-top: 24px; }

.splashpage-wrapper p {
	text-align: center;
}

.splashpage-wrapper .client-version {
	color: #aaa;
}

.splashpage-wrapper .client-version.flowers {
	color: #4C3434;
}

.splashpage-wrapper .input {
	width: 220px;
	margin: 0 auto 10px auto;
}

.splashpage-wrapper .spacedrow {
	margin-top: 10px;
}
