<!--<ol class="breadcrumb">-->
 <!--<li><i class="fa fa-home fa-fw"></i>Home</a></li>-->
 <!--<li><i class="fa fa-link fa-fw"></i> Block Explorer</li>-->
<!--</ol>-->
<div class="col-sm-12">
  <div class="header">
    <h3 class="header-title" translate>asset.title</h3>
  </div>
</div>
<div class="main-content">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <!--<th>Asset ID</th>-->
            <th translate>th.symbol</th>
            <th translate>th.name</th>
            <th translate>th.desc</th>
            <!--<th translate>Public Data</th>-->
            <th translate>th.issue_account</th>
            <th translate>th.precision</th>
            <th translate>th.current_share_supply</th>
            <th translate>th.maximum_share_supply</th>
            <th translate>th.collected_fees</th>
            <th translate>th.registration_date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="asset in assets | orderBy: 'id'">
            <!--<td>{{ asset.id }}</td>-->
            <td>
                <a href="#/assets/{{asset.symbol}}">{{asset.symbol}}</a>
            </td>
            <td>
                <a href="#/assets/{{asset.symbol}}">{{asset.name}}</a>
            </td>
            <td>{{ asset.description }}</td>
            <!--<td>{{ asset.public_data || "" }}</td>-->
            <td>
                <a href="#/accounts/{{ asset.account_name }}" ng-if="asset.id != 0 && asset.issuer_account_id > 0">{{ asset.account_name }} </a>
                <span ng-if="asset.issuer_account_id == -2">MARKET</span>
                <span ng-if="asset.id == 0">{{ asset.account_name }}</span>
            </td>
            <td>
                {{ asset.precision }}
            </td>
            <td>
                {{ asset.current_supply | formatAsset }}
            </td>
            <td>
                {{ asset.maximum_supply | formatAsset }}
            </td>
            <td>
                {{ asset.c_fees | formatAsset }}
            </td>
            <td>
                {{ asset.registration_date | prettyDate }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
