<div class="col-sm-12">
  <div class="header">
    <!--<button type="submit" ng-click='newContactModal()' class="btn btn-primary pull-right directory-add-contact">-->
      <!--<i class="fa fa-plus fa-fw"></i>Add Contact-->
    <!--</button>-->
    <h3 class="header-title" translate>directory.directory</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="main-content">
      <tabset>
        <tab ng-click="goto_tab('directory.favorites')" active="tabs[0].active">
          <tab-heading><i class="fa fa-star fa-lg"></i> {{ 'directory.favorites' | translate }}</tab-heading>
          <div ui-view="directory-favorites"></div>
        </tab>
        <tab ng-click="goto_tab('directory.unregistered')" active="tabs[1].active">
          <tab-heading><i class="fa fa-eye-slash fa-lg"></i> {{ 'directory.unregistered' | translate }}</tab-heading>
          <div ui-view="directory-unregistered"></div>
        </tab>
        <tab ng-click="goto_tab('directory.registered')" active="tabs[2].active">
          <tab-heading><i class="fa fa-globe fa-lg"></i> {{ 'directory.registered' | translate }}</tab-heading>
          <div ui-view="directory-registered"></div>
        </tab>
        <tab ng-click="goto_tab('directory.assets')" active="tabs[3].active">
          <tab-heading><i class="fa fa-renren fa-lg"></i> {{ 'directory.assets' | translate }}</tab-heading>
          <div ui-view="directory-assets"></div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
