<div class="main-content">
  <div class="row">
    <div class="col-sm-12 alphabet">
      <ul class="pagination pagination-sm">
        <li ng-repeat="l in alphabet">
          <a class="btn" ng-class="{'btn-primary': l == first_letter}" ui-sref="directory.registered({letter: '{{l}}' })">{{l}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <br> <input type="text" class="form-control" ng-model="q.name" placeholder="{{ 'pagination.filter' | translate }}"> <br>
    </div>
    <div class="col-sm-6">
      <ul class="pagination pagination-sm">
        <li><a class="btn" ng-disabled="p.currentPage == 0" ng-click="p.currentPage=0" translate> pagination.first</a></li>
        <li><a class="btn" ng-disabled="p.currentPage == 0" ng-click="p.currentPage=p.currentPage-1" translate>pagination.prev</a></li>
        <li><span class="btn btn-primary" style="color: #FFF; font-size: 110%; font-weight: 100;padding: 4px 12px;">{{p.currentPage+1}}/{{p.numberOfPages}}</span>
        </li>
        <li><a class="btn" ng-disabled="p.currentPage >= p.numberOfPages - 1" ng-click="p.currentPage=p.currentPage+1" translate>pagination.next</a>
        </li>
        <li><a class="btn" ng-disabled="p.currentPage == p.numberOfPages - 1"
               ng-click="p.currentPage=p.numberOfPages - 1" translate>pagination.last</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="registery">
        <!--<input type="button" ng-click="rescan()" value="Rescan" class="btn btn-primary pull-right"/>-->
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th translate>th.name</th>
              <th translate>th.registration_date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="r in reg | filter:q | startFrom: p.currentPage * p.pageSize | limitTo : p.pageSize">
              <td style='width:1%;white-space:nowrap'>
                <div class="avatar-40">
                  <img ng-src="http://robohash.org/set_1/{{r.name}}?size=40x40" height="40" width="40"/>
                </div>
              </td>
              <td style='width:1%;white-space:nowrap'>
                <button ng-click="toggleFavorite(r.name)" class="btn btn-link btn-sm"><i
                    ng-class="isFavorite(r) ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'"></i></button>
              </td>
              <td><a
                  ng-class="{'delegate-active-link' : delegate_active_hash_map[r.name], 'delegate-inactive-link' : delegate_inactive_hash_map[r.name], 'my-account-link': accounts[r.name].is_my_account}"
                  href="#/accounts/{{r.name}}">{{ r.name }}</a></td>
              <td>{{ formatRegDate(r.registration_date) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
