<div class="row">
  <form class="delegates-filter">
    <div class="col-sm-4 col-xs-12 input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
      <input type="text" class="form-control" ng-model="search.name" placeholder="{{'pagination.filter'|translate}}">
    </div>
  </form>
  <div class="col-lg-12">
      <div class="col-sm-12">
        <ul class="pagination pagination-sm">
          <li ><a class="btn" ng-disabled="p.currentPage == 0" ng-click="p.currentPage=0" translate>pagination.first</a></li>
          <li><a class="btn" ng-disabled="p.currentPage == 0" ng-click="p.currentPage=p.currentPage-1" translate>pagination.prev</a></li>
          <li> <span class="btn btn-primary" style="color: #FFF; font-size: 110%; font-weight: 100;padding: 4px 12px;">{{p.currentPage+1}}/{{p.numberOfPages}}</span></li>
          <li><a class="btn" ng-disabled="p.currentPage >= p.numberOfPages - 1" ng-click="p.currentPage=p.currentPage+1" translate>pagination.next</a></li>
          <li><a class="btn" ng-disabled="p.currentPage == p.numberOfPages - 1" ng-click="p.currentPage=p.numberOfPages - 1" translate>pagination.last</a></li>
        </ul>
      </div>
        <table class="table table-striped  table-hover">
          <thead>
            <tr style="text-transform: uppercase;">
              <th ng-click="orderByFieldStandby='rank'; reverseSortStandby = !reverseSortStandby" ><ng-sort-fa order-string="rank" reverse-sort="{{reverseSortStandby}}" order-by-field="{{orderByFieldStandby}}"></ng-sort-fa><span translate>th.rank</span></th>
              <th ng-click="orderByFieldStandby='name'; reverseSortStandby = !reverseSortStandby" ><ng-sort-fa order-string="name" reverse-sort="{{reverseSortStandby}}" order-by-field="{{orderByFieldStandby}}"></ng-sort-fa><span translate>th.name</span></th>
              <th ng-click="orderByFieldStandby='delegate_info.votes_for'; reverseSortStandby = !reverseSortStandby" ><ng-sort-fa order-string="delegate_info.votes_for" reverse-sort="{{reverseSortStandby}}" order-by-field="{{orderByFieldStandby}}"></ng-sort-fa><span translate>th.approval</span></th>
              <th ng-click="orderByFieldStandby='reliability'; reverseSortStandby = !reverseSortStandby" ><ng-sort-fa order-string="reliability" reverse-sort="{{reverseSortStandby}}" order-by-field="{{orderByFieldStandby}}"></ng-sort-fa><span translate>th.reliability</span></th>
              <th ng-click="orderByFieldStandby='delegate_info.pay_rate'; reverseSortStandby = !reverseSortStandby" ><ng-sort-fa order-string="delegate_info.pay_rate" reverse-sort="{{reverseSortStandby}}" order-by-field="{{orderByFieldStandby}}"></ng-sort-fa><span translate>th.pay_rate</span></th>
              <th ng-hide="is_bitshares_js" ng-click="orderByFieldStandby='approval'; reverseSortStandby = !reverseSortStandby" ><ng-sort-fa order-string="approval" reverse-sort="{{reverseSort}}" order-by-field="{{orderByFieldStandby}}"></ng-sort-fa><span translate>th.approve</span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="del in inactive_delegates | filter:search | startFrom: p.currentPage * p.pageSize | limitTo : p.pageSize | orderBy: [orderByFieldStandby, '-rank', 'name']:reverseSortStandby track by del.id">
              <td>{{ del.rank }}</td>
              <td>
                <a class='delegate-link' ui-sref="account.delegate({name: del.name})">{{ del.name }}</a>
                <br>
                <i ng-show="del.public_data.version"> Version: {{del.public_data.version}} </i>
                <br>
                <i><a ng-click="link(del.public_data.website)"> {{del.public_data.website}} </a></i>
              </td>
              <td>
                <span ng-switch on='del.delegate_info.votes_for/current_xts_supply<0.0001'
                tooltip-placement="right" tooltip="{{ 'delegate.votes_obtained' | translate }}: {{ del.delegate_info.votes_for | formatVotes}}">
                <span ng-switch-when='true'>&#60;0.01%</span>
                <span ng-switch-default>{{ (del.delegate_info.votes_for)/current_xts_supply*100 | number:2 }}%</span>
              </span>
            </td>
            <td><span ng-show="del.delegate_info.blocks_produced > 0" tooltip-placement="right" tooltip-html-unsafe="{{ 'th.blk_produced' | translate }} : {{ del.delegate_info.blocks_produced | number:0 }} <br> {{ 'th.blk_missed' | translate }} : {{ del.delegate_info.blocks_missed  | number:0}}">
              {{ del.reliability | number:2 }}%</span>
            </td>
            <td>{{ del.delegate_info.pay_rate }}%</td>
            <td ng-hide="is_bitshares_js">
              <div class="btn-group">
                <button ng-click="toggleVoteUp(del.name)" class="btn btn-sm btn-link primary" tooltip="{{ 'account.toggle.approval' | translate }}">
                  <i ng-if="approvals[del.name].approval>0" class='fa fa-thumbs-up fa-2x'></i>
                  <i ng-if="!approvals[del.name].approval || approvals[del.name].approval===0" class='fa fa-thumbs-o-up fa-2x'></i>
                  <i ng-if="approvals[del.name].approval<0" class='fa fa-thumbs-down fa-2x'></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <div class="col-sm-12">
      <ul class="pagination pagination-sm">
        <li ><a class="btn" ng-disabled="p.currentPage == 0" ng-click="p.currentPage=0" translate>pagination.first</a></li>
        <li><a class="btn" ng-disabled="p.currentPage == 0" ng-click="p.currentPage=p.currentPage-1" translate>pagination.prev</a></li>
        <li> <span class="btn btn-primary" style="color: #FFF; font-size: 110%; font-weight: 100;padding: 4px 12px;">{{p.currentPage+1}}/{{p.numberOfPages}}</span></li>
        <li><a class="btn" ng-disabled="p.currentPage >= p.numberOfPages - 1" ng-click="p.currentPage=p.currentPage+1" translate>pagination.next</a></li>
        <li><a class="btn" ng-disabled="p.currentPage == p.numberOfPages - 1" ng-click="p.currentPage=p.numberOfPages - 1" translate>pagination.last</a></li>
      </ul>
    </div>
</div>
</div>