<div class="pull-right" ng-hide="is_bitshares_js">
  <button ng-click="unvoteAll()" class="btn btn-success"><i tooltip='Un-approve all' class="fa fa-eraser"></i>
    <span translate>delegate.un_approve_all</span>
  </button>
</div>
<div class="col-sm-6">
  <table style='width:100%' class="table table-hover">
    <tr>
      <td><b translate>delegate.max_pay_per_blk</b></td> <td><b>{{blockchain_delegate_pay_rate}}</b></td>
    </tr>
    <tr>
      <td><b translate>delegate.avg_active_delegate_pay_rate</b> </td> <td tooltip-placement="right" tooltip="{{ (delegate_pay_rate * avg_act_del_pay_rate / 100 ) | number:2 }} BTS"> <b> {{avg_act_del_pay_rate | number:2}}</b> % </td>
    </tr>
    <tr>
      <td><b translate>delegate.positive_votes</b> </td> <td> <b> {{my_approvals.positive | number:0}}</b> </td>
    </tr>
    <tr>
      <td><b translate>delegate.neutral_votes</b> </td> <td> <b> {{my_approvals.neutral | number:0}}</b> </td> 
    </tr>
    <tr>
      <td><b translate>delegate.negative_votes</b> </td> <td> <b> {{my_approvals.negative | number:0}}</b> </td>
    </tr>
  </table>
</div>

<div class="row" style="padding-top:0.5em;">
  <div class="col-sm-12">
    <tabset>
      <tab ng-click="delegatesTab='active'">
        <tab-heading translate>delegate.top_delegates</tab-heading>
        <div ng-if="delegatesTab === 'active'" ng-include src="'delegates/delegates_list_active.html'"></div>
      </tab>
      <tab ng-click="delegatesTab='standby'" class="">
        <tab-heading translate>delegate.standby_delegates</tab-heading>
        <div ng-if="delegatesTab === 'standby'" ng-include src="'delegates/delegates_list_standby.html'"></div>
      </tab>
    </tabset>
  </div>
</div>


