<div class="col-sm-12">
  <div class="header">
    <h3 class="header-title">Delegates</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="main-content">
      <tabset>
        <tab>
          <tab-heading>All Delegates</tab-heading>
          <div ng-include src="'delegates/delegates_list.html'"></div>
        </tab>
         <tab>
          <tab-heading>My Votes</tab-heading>
          <div ng-include src="'delegates/voting.html'"></div>
        </tab>
      </tabset>
    </div>
  </div>
</div>