<div class="col-sm-12">
  <div class="header">
    <h3 class="header-title" translate>delegate.title</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="main-content">
      <tabset>
        <tab>
          <tab-heading translate>delegate.all_delegates</tab-heading>
          <div ng-include src="'delegates/delegates_list.html'"></div>
        </tab>
         <tab>
          <tab-heading translate>delegate.my_votes</tab-heading>
          <div ng-include src="'delegates/voting.html'"></div>
        </tab>
      </tabset>
    </div>
  </div>
</div>