<div class="fixed-height-table">
  <table class="table table-striped table-hover market-table fixed-height">
    <thead>
      <tr>
        <th>PRICE ({{market.price_symbol}})</th>
        <th>QUANTITY ({{market.quantity_symbol}})</th>
        <th>TOTAL ({{market.base_symbol}})</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ask in asks track by $index">
        <td>{{ask.price}}</td>
        <td>{{ask.quantity}}</td>
        <td>{{ask.cost}}</td>
      </tr>
    </tbody>
  </table>
</div>
