<div class="fixed-height-table">
  <table class="table table-striped table-hover market-table fixed-height">
    <thead>
      <tr>
        <th ng-show="market.inverted" translate>th.type</th>
        <th>{{'th.order_price'|translate}} ({{market.price_symbol}})</th>
        <th>{{'th.quantity'|translate}} ({{market.quantity_symbol}})</th>
        <th>{{'th.cost'|translate}} ({{market.base_symbol}})</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="o in asks" ng-click="use_trade_data({price: o.price, quantity: o.quantity})">
        <td ng-show="market.inverted">{{o.display_type}}</td>
        <td tooltip="{{o.price | formatDecimal :  market.price_precision+4 : true}}" tooltip-append-to-body="true">
          {{o.price | formatDecimal : market.price_precision : true}}
        </td>
        <td>{{o.quantity | formatDecimal : market.quantity_precision}}</td>
        <td>{{o.cost | formatDecimal : market.base_precision}}</td>
      </tr>
    </tbody>
  </table>
</div>
