<div class="fixed-height-table">
  <table class="table table-striped table-hover market-table fixed-height">
    <thead>
      <tr>
        <th>PRICE ({{market.name}})</th>
        <th>QUANTITY ({{market.quantity_symbol}})</th>
        <th>TOTAL ({{market.base_symbol}})</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="unconfirmed.bid" class="unconfirmed">
        <td>{{unconfirmed.bid.price | currency : ''}}</td>
        <td>{{unconfirmed.bid.quantity }}</td>
        <td>{{unconfirmed.bid.cost | currency : ''}}</td>
        <td>
          <button class="btn btn-success btn-xs" ng-click="confirm_bid()">Confirm</button>
          <button class="btn btn-danger btn-xs" ng-click="cancel_bid(0)">Cancel</button>
        </td>
      </tr>
      <tr ng-repeat="bid in bids track by $index" ng-class="{cancelable: bid.cancelable}">
        <td>{{bid.price | currency : ''}}</td>
        <td>{{bid.quantity}}</td>
        <td>{{bid.cost | currency : ''}}</td>
        <td><button class="btn btn-danger btn-xs" ng-click="cancel_bid(bid.id)" ng-show="bid.cancelable">Cancel</button></td>
      </tr>
    </tbody>
  </table>
</div>
