<form name="buy_form" class="form-horizontal order-form" role="form" ng-submit="submit_bid()" novalidate>
  <div form-hgroup-value label="{{'market.balance'|translate}}" show-value="true" data-symbol="{{market.base_symbol}}">
    <span class="clickable" ng-click="use_trade_data({price: market.lowest_ask, quantity: account.base_balance/market.lowest_ask})"
          tooltip="{{'account.name'|translate}}: {{account.name}}">
      {{account.base_balance | formatDecimal : market.base_precision}}</span>
  </div>
  <div form-hgroup label="{{'market.quantity'|translate}}" addon="{{market.quantity_symbol}}">
    <input-positive-number name="bid_quantity" ng-model="bid.quantity" required="true"/>
  </div>
  <div form-hgroup label="{{'market.price'|translate}}" addon="{{market.price_symbol}}">
    <input-positive-number name="bid_price" ng-model="bid.price" required="true" />
  </div>
  <div form-hgroup-note ng-show="market.lowest_ask">
    {{'market.lowest_ask'|translate}} <span class="clickable" ng-click="use_trade_data({price: market.lowest_ask})">{{market.lowest_ask | formatDecimal : market.price_precision}}</span> {{market.price_symbol}}
  </div>
  <div form-hgroup-value label="{{'market.total'|translate}}" data-symbol="{{market.base_symbol}}" show-value="{{buy_form.$valid}}">
    {{bid.quantity * bid.price | formatDecimal : market.price_precision}}
  </div>
  <!--<div form-hgroup label="{{'market.total'|translate}}" addon="{{market.base_symbol}}">-->
    <!--<input-positive-number name="bid_total" ng-model="bid.cost"/>-->
  <!--</div>-->
  <div form-hgroup-error></div>
  <button form-hgroup-submit-btn help="Fee {{tx_fee}} {{market.base_symbol}}">{{'market.buy'|translate}} {{market.quantity_symbol}}</button>
</form>
