<div class="fixed-height-table">
  <table class="table table-striped table-hover market-table fixed-height">
    <thead>
      <tr>
        <th>PRICE ({{market.name}})</th>
        <th>QUANTITY ({{market.quantity_symbol}})</th>
        <th>TOTAL ({{market.base_symbol}})</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="unconfirmed.bid" class="unconfirmed">
        <td>{{unconfirmed.bid.price | formatMoney}}</td>
        <td>{{unconfirmed.bid.quantity | formatMoney}}</td>
        <td>{{unconfirmed.bid.cost | formatMoney}}</td>
        <td><button class="btn btn-success btn-xs" ng-click="confirm_bid()">Confirm</button></td>
      </tr>
      <tr ng-repeat="bid in bids track by $index" ng-class="{cancelable: bid.cancelable}">
        <td>{{bid.price | formatMoney}}</td>
        <td>{{bid.quantity | formatMoney}}</td>
        <td>{{bid.cost | formatMoney}}</td>
        <td><button class="btn btn-warning btn-xs" ng-click="cancel_bid(bid.id)">Cancel</button></td>
      </tr>
    </tbody>
  </table>
</div>
