<form name="buy_form" class="form-horizontal" role="form" ng-submit="submit_buy_form()" novalidate>
  <div form-hgroup-value label="Balance" show-value="true" data-symbol="{{base_symbol}}">{{buy.balance | formatAssetPrice}}</div>
  <div form-hgroup label="Quantity" addon="{{quote_symbol}}">
    <input-positive-number name="buy_quantity" ng-model="buy.quantity" />
  </div>
  <div form-hgroup label="Price" addon="{{market_name}}">
    <input-positive-number name="buy_price" ng-model="buy.price" required="true" />
  </div>
  <div form-hgroup-value label="Total" data-symbol="{{base_symbol}}" show-value="{{buy_form.$valid}}">{{buy.quantity * buy.price | formatMoney}}</div>
  <div form-hgroup-error></div>
  <button form-hgroup-submit-btn>Buy {{quote_symbol}}</button>
</form>
