<div class="fixed-height-table">
  <table class="table table-striped table-hover market-table fixed-height">
    <thead>
      <tr>
        <th>PRICE ({{market.price_symbol}})</th>
        <th>TOTAL ({{actual_market.base_symbol}})</th>
        <th>COLLATERAL ({{actual_market.quantity_symbol}})</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="o in covers | orderBy:'price':true" ng-click="use_trade_data({price: o.price, quantity: o.cost})">
        <td>{{o.price | formatDecimal : market.price_precision}}</td>
        <td>{{o.cost | formatDecimal : market.base_precision}}</td>
        <td>{{o.collateral | formatDecimal : market.base_precision}}</td>
      </tr>
    </tbody>
  </table>
</div>
