<div class="modal-header bg-danger">
  <h3 class="modal-title" translate>market.cover_short_position</h3>
</div>
<form name="cover_form" class="form-horizontal" role="form" novalidate>
  <div class="modal-body">
    <div form-hgroup-value label="Total owed" show-value="true" data-symbol="{{market.base_symbol}}">
      {{v.total}}
    </div>
    <div form-hgroup label="Pay off" addon="{{market.base_symbol}}">
      <input-positive-number name="quantity" ng-model="v.quantity"/>
    </div>
  </div>
  </br></br>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()" translate>btn.cover</button>
    <button class="btn btn-warning" ng-click="cancel()" translate>btn.cancel</button>
  </div>
</form>