<div class="fixed-height-table">
  <table class="table table-striped table-hover market-table fixed-height">
    <thead>
      <tr>
        <th>{{'th.order_price'|translate}} ({{market.price_symbol}}) <span class="help-popover"
                  popover="{{'market.margin_call_price_explain'|translate}}"
                  popover-append-to-body="true"
                  popover-trigger="mouseenter">?</span></th>
        <th>{{'th.cost'|translate}} ({{actual_market.base_symbol}})</th>
        <th>{{'th.collateral'|translate}} ({{actual_market.quantity_symbol}})</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="o in covers" ng-click="use_trade_data({price: o.price, quantity: o.cost})">
        <td tooltip="{{o.price | formatDecimal :  market.price_precision+4 : true}}" tooltip-append-to-body="true">
          {{o.price | formatDecimal : market.price_precision : true}}
        </td>
        <td>{{o.cost | formatDecimal : market.base_precision}}</td>
        <td>{{o.collateral | formatDecimal : market.base_precision}}</td>
      </tr>
    </tbody>
  </table>
</div>
