<div class="fixed-height-table">
  <table class="table table-striped table-hover market-table fixed-height">
    <thead>
      <tr>
        <th>PRICE ({{market.price_symbol}})</th>
        <th>QUANTITY ({{market.base_symbol}})</th>
        <th>TOTAL ({{market.quantity_symbol}})</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="o in covers track by $index">
        <td>{{o.price | formatDecimal}}</td>
        <td>{{o.quantity | formatDecimal : market.base_precision}}</td>
        <td>{{o.cost | formatDecimal : market.quantity_precision}}</td>
      </tr>
    </tbody>
  </table>
</div>
