<div class="col-sm-12">
  <div class="header m-bottom">
    <div class="account-selector pull-right">
      <span class="title">{{'account.name'|translate}} &nbsp;</span>
      <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle">
          {{account ? account.name : ('accounts.select_account' | translate)}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li ng-repeat="(key,a) in accounts">
            <a ui-sref="market.buy({account: '{{a.name}}', market: '{{market.name}}'})">{{a.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <h3 class="header-title col-sm-4">
        <span tooltip="{{market.quantity_asset.description}}" tooltip-placement="right">{{market.quantity_symbol}}</span>
        : <span tooltip="{{market.base_asset.description}}" tooltip-placement="right">{{market.base_symbol}}</span>
        <a ng-click="flip_market()" class="small" tooltip="{{'market.flip_market'|translate}}" tooltip-placement="right" ng-show="account"><i class="fa fa-retweet fa-fw"></i></a>
      </h3>
      <ul class="row market-stats stats col-sm-4">
        <li class="stat col-sm-6">
          <span>{{market.quantity_symbol}}&nbsp;{{'account.balances'|translate}}<br/><b class="value">
           {{account.quantity_balance | formatDecimal : market.quantity_precision}}</b></span>
        </li>
        <li class="stat col-sm-6">
          <span>{{market.base_symbol}}&nbsp;{{'account.balances'|translate}}<br/><b class="value">
           {{account.base_balance | formatDecimal : market.base_precision}}</b></span>
        </li>
      </ul>
    </div>

    <div class="row" ng-show="market.error.title">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-8">
        <div class="alert alert-danger">
          <i class="fa fa-warning"></i>
          &nbsp; &nbsp; <strong>{{market.error.title}}</strong> &nbsp; &nbsp; {{market.error.text}}
        </div>
      </div>
      <div class="col-sm-2">&nbsp;</div>
    </div>

  </div>
</div>

<div class="main-content market">

      <ul class="row market-stats stats">
        <li ng-show="true || market.shorts_available" class="stat col-sm-3">
          <span>{{'market.median_price'|translate}}<br/><b class="value">{{market.median_price | formatDecimal : market.price_precision : true}}</b><br/><em>{{market.price_symbol}}</em></span>
        </li>
        <li ng-show="!market.shorts_available || market.avg_price_1h > 0" class="stat col-sm-3">
          <span>1h&nbsp;{{'market.avg_price'|translate}}<br/><b class="value">{{market.avg_price_1h | formatDecimal : market.price_precision : true}}</b><br/><em>{{market.price_symbol}}</em></span>
        </li>
        <li class="stat col-sm-3">
          <span>{{'market.bid_depth'|translate}}<br/><b class="value">{{market.bid_depth | formatDecimal : actual_market.quantity_precision}}</b><br/><em>{{actual_market.quantity_symbol}}</em></span>
        </li>
        <li class="stat col-sm-3">
          <span>{{'market.ask_depth'|translate}}<br/><b class="value">{{market.ask_depth | formatDecimal : actual_market.quantity_precision}}</b><br/><em>{{actual_market.quantity_symbol}}</em></span>
        </li>
      </ul>

    <div class="row">
      <div class="col-sm-12">
        <nvd3-line-chart class="chart price-chart" ng-show="market.price_history.length"
                         data="market.price_history"
                         showXAxis="true"
                         showYAxis="true"
                         tooltips="true"
                         interactive="true"
                         showlegend="true"
                         yaxisshowmaxmin="false"
                         height="240"
                         xAxisLabel=""
                         yAxisLabel=""
                         forcey="max"
                         xAxisTickFormat="xAxisTickFormatPriceChart()"
                         yAxisTickFormat="yAxisTickFormatPriceChart()"
                         tooltipcontent="priceChartTooltip()">
        </nvd3-line-chart>
      </div>
    </div>

    <div class="row">

      <div class="col-md-5">
        <tabset>
          <tab ng-repeat="t in tabs" heading="{{t.heading | translate}} {{market.quantity_symbol}}" ng-click="goto_tab(t.route)" active="t.active">
            <div class="panel">
              <div class="panel-body">
                <div ui-view></div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>

      <div class="col-md-7">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">{{'market.open_orders'|translate}} ({{'account.name'|translate}}: {{account.name}})</h3>
            </div>
            <div class="panel-body">
              <div ng-include src="'market/orders.html'"></div>
            </div>
          </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <nvd3-line-chart class="chart orderbook-chart" ng-show="market.orderbook_chart_data.length > 0"
                         data="market.orderbook_chart_data"
                         showXAxis="true"
                         showYAxis="true"
                         tooltips="true"
                         interactive="true"
                         showlegend="true"
                         height="180"
                         margin="60"
                         yaxisshowmaxmin="false"
                         xAxisLabel=""
                         yAxisLabel=""
                         xAxisTickFormat="xAxisTickFormatOrderbookChart()"
                         yAxisTickFormat="yAxisTickFormatOrderbookChart()"
                         tooltips="true"
                         tooltipcontent="orderbookChartTooltip()" >
        </nvd3-line-chart>
      </div>
    </div>

    <br ng-show="market.orderbook_chart_data.length == 0" />
    <div ng-switch on="state_name">

      <div class="row" ng-switch-when="market.short">
        <div class="col-sm-6">
          <div class="panel ">
            <div class="panel-heading">
              <h3 class="panel-title">{{'market.buy_orders'|translate}} ({{'market.bids'|translate}})</h3>
            </div>
            <div class="panel-body">
              <div ng-include src="'market/bids.html'"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel ">
            <div class="panel-heading">
              <h3 class="panel-title">{{'market.short_orders'|translate}}</h3>
            </div>
            <div class="panel-body">
              <div ng-include src="'market/shorts.html'"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row orders-row" ng-switch-default>
        <div class="panel" ng-class="market.margins_available ? 'col-lg-4' : 'col-lg-6'">
          <div class="panel-heading">
            <h3 class="panel-title">{{'market.buy_orders'|translate}} ({{ (market.inverted ? 'market.bids' : 'market.bids_and_shorts') | translate }})</h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/bids.html'"></div>
          </div>
        </div>
        <div class="panel" ng-class="market.margins_available ? 'col-lg-4' : 'col-lg-6'">
          <div class="panel-heading">
            <h3 class="panel-title">{{'market.sell_orders'|translate}} ({{ (market.inverted ? 'market.asks_and_shorts' : 'market.asks') | translate}})</h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/asks.html'"></div>
          </div>
        </div>
        <div class="col-lg-4 panel" ng-show="market.margins_available">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{ 'market.margin_orders' | translate }}
              &nbsp; <span class="help-popover"
                  popover="{{ 'market.margin_orders_explain' | translate }}"
                  popover-append-to-body="true"
                  popover-trigger="mouseenter">?</span>
            </h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/covers.html'"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="panel ">
          <div class="panel-heading">
            <h3 class="panel-title" translate>market.blockchain_orders_history</h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/trades.html'"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel ">
          <div class="panel-heading">
            <h3 class="panel-title" translate>market.account_orders_history</h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/my_trades.html'"></div>
          </div>
        </div>
      </div>
    </div>

</div>
