<div class="col-sm-12">
  <div class="header">
    <div class="row" ng-show="account_name">
      <h3 class="col-sm-2 header-title" translate>market.title</h3>
      <div class="col-sm-2 market-selector">
        <input type="text"
               ng-model="selected_market"
               typeahead="value for value in markets | filter:$viewValue"
               typeahead-editable="false"
               typeahead-append-to-body="true"
               class="form-control"
               placeholder="{{'market.search_market'|translate}}">
      </div>
    </div>
  </div>
</div>
<br/>
<div class="main-content market" ng-show="account_name">
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title" translate>market.all_markets</h3>
        </div>
        <div class="panel-body">
          <ul class="markets-list">
            <li ng-repeat="m in markets track by $index"><a ng-click="select_market(m)">{{m}}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel" ng-show="recent_markets.length > 0">
        <div class="panel-heading">
          <h3 class="panel-title" translate>market.recent_markets</h3>
        </div>
        <div class="panel-body">
          <ul class="markets-list">
            <li ng-repeat="m in recent_markets track by $index"><a ng-click="select_market(m)">{{m}}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">&nbsp;</div>

  </div>
</div>

<div class="main-content" ng-show="account_name == false">
  <!--<p class="no-account-selected-note">Loading..</p>-->
</div>

<div class="main-content" ng-show="account_name == null">
  <p class="no-account-selected-note">No accounts found, please <a href="#/create/account">create account</a> to proceed</p>
</div>