<div class="col-sm-12">
<div class="header m-bottom">
  <div class="account-selector pull-right">
    <span class="title">Account &nbsp; </span>
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle">{{account_selector_title}} <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(key,account) in accounts">
          <a ui-sref="market({name: '{{market_url_name}}', account: '{{account.name}}' })">{{account.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <h3 class="header-title">{{market_name}}</h3>
</div>
</div>

<div class="main-content" ng-switch on="account">
  <div ng-switch-when="true">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel ">
          <div class="panel-heading">
            <h3 class="panel-title">Buy <strong>{{quote_symbol}}</strong></h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/buy_form.html'"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel ">
          <div class="panel-heading">
            <h3 class="panel-title">Sell <strong>{{quote_symbol}}</strong></h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/sell_form.html'"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel ">
          <div class="panel-heading">
            <h3 class="panel-title">Short <strong>{{quote_symbol}}</strong></h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/short_form.html'"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-4">
        <div class="panel ">
          <div class="panel-heading">
            <h3 class="panel-title">Sell Orders</h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/sell_orders.html'"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel ">
          <div class="panel-heading">
            <h3 class="panel-title">Buy Orders</h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/buy_orders.html'"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel ">
          <div class="panel-heading">
            <h3 class="panel-title">Short Orders</h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/short_orders.html'"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">
        <div class="panel ">
          <div class="panel-heading">
            <h3 class="panel-title">Trade History</h3>
          </div>
          <div class="panel-body">
            <div ng-include src="'market/trade_history.html'"></div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div ng-switch-default>
    <p class="no-account-selected-note">No account selected, please select account</p>
  </div>

</div>
