<div class="col-sm-12">
  <div class="header">
    <h3 class="header-title">Markets</h3>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <form class="col-sm-12 form-horizontal  m-top" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="market_selector">Market</label>
        <div class="col-sm-3">
          <input id="market_selector" type="text"
                 ng-model="selected_market"
                 typeahead="value for value in markets | filter:$viewValue"
                 typeahead-editable="false"
                 typeahead-append-to-body="true"
                 class="form-control"
                 placeholder="Select Market">
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-3">
      <div class="panel" ng-show="recent_markets.length > 0">
        <div class="panel-heading">
          <h3 class="panel-title">Recent Markets</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li ng-repeat="m in recent_markets track by $index"><a ng-click="select_market(m)">{{m}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
