<div id="order_tabs" class="col-xs-3 order-tabs" ng-class="{'advanced': advanced, 'shorts-available': market.shorts_available}">
  <tabset>
    <tab ng-repeat="t in tabs" heading="{{ t.heading | translate }}" ng-click="goto_tab(t.route)" active="t.active" class="{{t.class}}">
      <div ui-view autoscroll="false"></div>
    </tab>
  </tabset>
  <div class="orders-div">
    <h3 class="market-table-title panel-title buy-orders-title">{{ 'market.open_orders' | translate}}</h3>
    <div ng-include src="'market/open_buy.html'"></div>
  </div>

</div>

<!-- <div> -->

<!-- Info header -->
<div class="col-xs-9 col-xs-offset-3 test-fixed">
  <div class="col-xs-12 small-lr-padding" style="border-bottom: 1px solid #EEE;">
    <h3 class="header-title col-xs-3 no-lr-padding">
      <span tooltip="{{market.quantity_asset.description}}" tooltip-placement="right">{{ ::market.quantity_symbol }}</span>
      : <span tooltip="{{market.base_asset.description}}" tooltip-placement="right">{{ ::market.base_symbol }}</span>
      <a ng-click="flip_market()" class="market-header-button"
      tooltip="{{'market.flip_market'|translate}}"
      tooltip-placement="right" ng-show="account">
      <i class="fa fa-retweet fa-fw"></i></a>
    </h3>
    <ul class="row market-stats stats col-xs-9">
      <li class="col-sm-2 stat">
        <span><span translate>market.stats.latest</span><br/><i change="trades[0].price"></i><b class="value stat-primary" flash="trades[0].price">{{ trades[0].price | formatDecimal : market.price_precision : true }}</b><br/><em>{{ ::market.price_symbol }}</em></span>
      </li>
      <li class="stat col-sm-2">
        <span translate>market.chart.volume</span><br/><i change="market.volume"></i><b class="value" flash="market.volume">
        {{ market.volume | formatDecimal : market.quantity_precision}}</b><br/><em>{{ ::market.quantity_symbol }}</em></span>
      </li>
      <li class="stat col-sm-2">
        <span translate>market.stats.low</span><br/><b class="value change-negative" flash="market.daily_low">
        {{ market.daily_low | formatDecimal : market.price_precision : true }}</b><br/><em>{{ ::market.price_symbol}}</em></span>
      </li>
      <li class="stat col-sm-2">
        <span translate>market.stats.high</span><br/><b class="value change-positive" flash="market.daily_high">
        {{ market.daily_high | formatDecimal : market.price_precision : true }}</b><br/><em>{{ ::market.price_symbol }}</em></span>
      </li>
      <li class="stat col-sm-2">
        <span translate>market.stats.change</span><br/><i change="market.change"></i><b class="value" ng-class="{'change-positive':market.change >=0, 'change-negative':market.change < 0}" flash="market.change">
        {{ market.change | number:2}}%</b></span>
      </li>
      <li ng-show="market.shorts_available || market.feed_price" class="col-sm-2 stat">
        <span><span translate>market.feed_price</span><br/><i change="market.feed_price"></i><b class="value" flash="market.feed_price">{{ market.feed_price | formatDecimal : market.price_precision : true }}</b><br/><em>{{ ::market.price_symbol}}</em></span>
      </li>
    </ul>

    <!--  Market error warning -->
    <div ng-show="market.error.title">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-8">
        <div class="alert alert-danger">
          <i class="fa fa-warning"></i>
          &nbsp; &nbsp; <strong>{{ ::market.error.title }}</strong> &nbsp; &nbsp; {{ ::market.error.text }}
        </div>
      </div>
      <div class="col-sm-2">&nbsp;</div>
    </div>

  </div> 
</div>
<div class="col-xs-9 col-xs-offset-3 market-header" ng-class="{'advanced': advanced, 'shorts-available': market.shorts_available}">
  <div class="col-xs-12 small-lr-padding" ng-class="{'advanced': advanced, 'shorts-available': market.shorts_available}">
    <div class="row" >
      <div class="market market-content" ng-class="{'advanced': advanced, 'shorts-available': market.shorts_available}">

        <!-- Back Loader during Charts loading -->
        <script  type="text/javascript">
          $(document).ready(function() {
                 window.setTimeout("fadeMyDiv();", 400); //call fade in 3 seconds
               }
               );

          function fadeMyDiv() {
           $("#back-loader").fadeOut('normal');
         }
       </script>


       <div class="col-xs-12 small-lr-padding market-charts">
         <div>

           <div class="chart-container" style="background-color: #000;">

            <div class="col-xs-12 small-lr-padding">

              <div>
                <div class="pull-right chart-selection-buttons">
                  <button class="btn btn-info btn-sm outline" ng-class="{'active':showPriceChart}" ng-click="showPriceChart = true; showOrderBook = false;">{{'market.chart.pricehistory' | translate}}</button>
                  <button class="btn btn-info btn-sm outline" ng-class="{'active':showOrderBook}" ng-click="showPriceChart = false; showOrderBook = true;">{{'market.chart.orderbook' | translate}}</button>
                </div>

                <div id="back-loader" style="min-height: 400px;"></div>

                <div ng-if="market.price_history.length && showPriceChart">
                  <p class="time-interval">Time interval:</p>
                  <button ng-repeat="int in intervals track by $index" ng-class="{'active':int.active}" class="interval-button btn btn-info btn-sm outline" ng-click="changeInterval($index)">{{int.text | translate}}</button>

                  <pricechart 
                  pricedata="market.price_history"
                  volumedata="market.volume_history"
                  volume-symbol="market.inverted ? market.quantity_symbol : market.quantity_symbol"
                  volume-precision="market.inverted ? market.quantity_precision : market.quantity_precision"
                  price-precision="market.price_precision"
                  price-symbol="market.price_symbol"
                  inverted="market.inverted"
                  interval="interval"
                  >
                </pricechart>
              </div>

              <div ng-if="showOrderBook">
                <orderbookchart
                bids-array="market.orderbook_chart_data.bids_array"
                asks-array="market.orderbook_chart_data.asks_array"
                avg-value="market.orderbook_chart_data.avg_value"
                volume-symbol="market.quantity_symbol"
                volume-precision="market.quantity_precision"
                price-symbol="market.price_symbol"
                price-precision="market.price_precision"
                inverted-market="market.inverted"
                feed-price="market.feed_price"
                advanced-mode="advanced">
              </orderbookchart>

            </div>
          </div>
        </div>
<!--         <div id="pricechart-container" class="techan">
          <techan 
          ng-if="market.price_history.length"
          pricedata="market.price_history"></techan>
        </div> -->


        <!-- Buy -->
        <div class="col-xs-4 orderbook-table">
          <h3 class="market-table-title panel-title buy-orders-title">{{'market.buy_orders'|translate:'{value: market.quantity_symbol}'}}
            <button ng-show="advanced" ng-click="buy_button = !buy_button" class="pull-right margin-button btn btn-info btn-sm outline" ng-class="{active: buy_button}">
              <span ng-if="market.inverted" translate>market.order_type.margin_orders</span><span ng-if="!market.inverted" translate>market.order_type.short_orders</span>
            </button>
          </h3>
          <table fixed-header table-height="300px"  class="market-table table table-default table-condensed table-hover">
            <thead>
              <th><span translate>th.quantity</span><br><span> ({{ ::market.quantity_symbol }})</span></th>
              <th><span translate>th.price</span><br><span> ({{ ::market.price_symbol }})</span></th>
            </thead>
            <tbody>
              <tr ng-repeat="ask in combined_bids | limitTo:100 track by ask.uid" ng-click="row_click($index, true)" flash="ask.price_dec" tooltip-html-unsafe="{{ask.type === 'short' ? ('market.interest_rate' | translate)+': '+ (ask.interest_rate | number:2)+'%': ''}}" tooltip-placement="left">
                <td>{{ ask.quantity_filtered }} </td>
                <td class="no-r-padding"><span ng-class="{'short-text':ask.type === 'short' || ask.type === 'short_wall', 'bid-text':ask.type === 'bid', 'cover-text':ask.type === 'margin_order'}">{{ (ask.price_int) }}</span><span class="decimal-text">{{'.' + ask.price_dec }}</span> </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Sell -->
        <div class="col-xs-4 orderbook-table">
          <h3 class="market-table-title panel-title sell-orders-title">{{'market.sell_orders'|translate:'{value: market.quantity_symbol}'}}
            <button ng-show="advanced" ng-click="sell_button = !sell_button" class="pull-right margin-button btn btn-info btn-sm outline" ng-class="{active: sell_button}">
              <span ng-if="market.inverted" translate>market.order_type.short_orders</span><span ng-if="!market.inverted" translate>market.order_type.margin_orders</span>
            </button>
          </h3>
          <table fixed-header table-height="300px" class="table table-default table-condensed table-hover market-table">
            <thead>
              <th><span translate>th.price</span><br><span> ({{ ::market.price_symbol }})</span></th>
              <th><span translate>th.quantity</span><br><span> ({{ ::market.quantity_symbol }})</span></th>
            </thead>
            <tbody>
              <tr ng-repeat="ask in combined_asks track by ask.uid" ng-click="row_click($index, false)" flash="ask.price_dec" tooltip-html-unsafe="{{ask.type === 'short' ? ('market.interest_rate' | translate)+': '+ (ask.interest_rate | number:2)+'%': ''}}" tooltip-placement="right">
                <td><span ng-class="{'short-text':ask.type === 'short' || ask.type === 'short_wall', 'ask-text':ask.type === 'ask', 'cover-text':ask.type === 'margin_order'}">{{ (ask.price_int) }}</span><span class="decimal-text">{{'.' + ask.price_dec }}</span> </td>
                <td class="no-r-padding">{{ ask.quantity_filtered }} </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Blockchain and Account orders -->
        <div class="col-xs-4">
          <div class="order-buttons pull-right">
            <button class="btn btn-info btn-sm outline order-button" ng-class="{'active':blockchain_orders}" ng-click="switchHistory()">{{'market.blockchain_orders_history' | translate }}</button>
            <button class="btn btn-info btn-sm outline order-button" ng-class="{'active':my_orders}" ng-click="switchHistory()">{{'market.account_orders_history' | translate }}</button>
          </div>
          <!-- <span ng-click="" ng-class="{'title-active':blockchain_orders, 'title-inactive':!blockchain_orders}" translate>market.blockchain_orders_history</span><span ng-click="switchHistory()" ng-class="{'title-active':my_orders, 'title-inactive':!my_orders}" style="margin-left:1em;" translate>market.account_orders_history</span> -->
          <table ng-if="blockchain_orders" fixed-header table-height="300px" class="market-table table table-default table-condensed table-hover">
            <thead>
              <th class="hidden-xs hidden-sm" style="width:30px"></th>
              <th><span translate>th.price</span><br><span> ({{ ::market.price_symbol }})</span></th>
              <th ng-if="!market.inverted"><span translate>th.paid</span><br><span> ({{ ::market.inverted ? market.base_symbol : market.quantity_symbol }})</span></th>
              <th ng-if="market.inverted"><span translate>th.received</span><br><span ng-if="blockchain_orders"> ({{ ::market.inverted ? market.quantity_symbol : market.base_symbol }})</span></th>
              <th class="hidden-sm hidden-xs" translate>th.time</th>
            </thead>
            <tbody>
              <tr ng-show="blockchain_orders" ng-repeat="trade in trades | limitTo:100 track by trade.uid">
                <td class="no-r-padding hidden-xs hidden-sm"><progressbar max="market.max_trade/2" value="trade.received"></progressbar></td>
                <td ><span ng-class="{'short-text':trade.type === 'short_order', 'bid-text':trade.type === 'bid_order', 'trade-text':trade.type === 'ask_order'}">{{ (trade.price_int) }}</span><span class="decimal-text">{{'.' + trade.price_dec }}</span> </td>
                <td ng-if="blockchain_orders && !market.inverted">{{ trade.paid_filtered }} </td>
                <td ng-if="blockchain_orders && market.inverted">{{ trade.received_filtered }} </td>
                <td class="hidden-sm hidden-xs no-r-padding">{{ trade.localtime | date:'HH:mm' }} </td>
              </tr>
            </tbody>
          </table>

          <table ng-if="my_orders" fixed-header table-height="300px" class="market-table table table-default table-condensed table-hover">
            <thead>
              <th class="hidden-xs hidden-sm" style="width:30px"></th>
              <th><span translate>th.price</span><br><span> ({{ ::market.price_symbol }})</span></th>
              <th><span translate>th.received</span><br><span ng-if="blockchain_orders"> ({{ ::market.inverted ? market.quantity_symbol : market.base_symbol }})</span></th>
              <th class="hidden-sm hidden-xs" translate>th.time</th>
            </thead>
            <tbody>
              <tr ng-repeat="trade in my_trades | limitTo:100 track by $index">
                <td class="no-r-padding  hidden-xs hidden-sm"><progressbar max="market.max_my_trades" value="trade.amount_asset.amount"></progressbar></td>
                <td><span ng-class="{'short-text':trade.type === 'short_order', 'bid-text':trade.type === 'buy', 'ask-text':trade.type === 'sell'}">{{ (trade.price_int) }}</span><span class="decimal-text">{{'.' + trade.price_dec }}</span> </td>
                <td >{{ trade.quantity }} </td>
                <td class="no-r-padding">{{ trade.time.timestamp | date:'dd-MMM / HH:mm' }} </td>
              </tr>
            </tbody>
          </table>
        </div>

        
      </div>

      <!-- Left margin/short table -->
      <div ng-if="market.shorts_available && advanced">
        <div ng-if="buy_button" class="col-md-6 small-lr-padding">
          <h3 class="market-table-title panel-title" ng-class="{'short-text':!market.inverted,'cover-text':market.inverted}">
            {{
            (market.inverted ?
            ('market.margin_orders'|translate)
            :
            ('market.short_orders'|translate)
            )
          }}
          <span ng-show="market.inverted" class="help-popover" popover="{{'market.margin_orders_explain'|translate}}" popover-trigger="mouseenter"><i class="fa fa-question-circle"></i></span>
        </h3>
        <div ui-grid="listShortsMarginsLeftGrid" class="market-grid" external-scopes="this" ui-grid-auto-resize></div>
      </div>

      <!-- Right margin/short table -->
      <div ng-if="sell_button" class="col-md-6 small-lr-padding" >
        <h3 class="market-table-title panel-title" ng-class="{'short-text':market.inverted,'cover-text':!market.inverted}">{{
          (market.inverted ?
          ('market.short_orders'|translate)
          :
          ('market.margin_orders'|translate)
          )
        }}
        <span ng-show="!market.inverted" class="help-popover" popover-placement="right"  popover="{{'market.margin_orders_explain'|translate}}" popover-trigger="mouseenter"><i class="fa fa-question-circle"></i></span>
      </h3>
      <div ui-grid="listShortsMarginsRightGrid" class="market-grid" external-scopes="this" ui-grid-auto-resize></div>
    </div>

  </div>
</div>
</div>




</div>
</div>

</div>

</div>


