<div id="orders_table" class="fixed-height-table">
  <table class="table table-striped table-hover market-table">
    <thead>
      <tr>
        <th>{{'th.collateral'|translate}} ({{actual_market.asset_quantity_symbol}})</th>
        <th>{{'th.interest_rate'|translate}}</th>
        <th>~ {{'th.quantity'|translate}} ({{actual_market.asset_base_symbol}})</th>
        <th>{{'th.price_limit'|translate}} ({{market.price_symbol}})</th>
        <th translate>th.action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="o in orders | filter: {type: 'short_order'} track by $index" class="warning alert alert-danger unconfirmed" ng-show="o.warning">
        <td colspan="5"><i class="fa fa-warning"></i> <b>{{'tip.warning' | translate}}.</b> &nbsp; {{ o.warning | translate:'{value: o.price_diff}' }}</td>
      </tr>
      <tr class="warning unconfirmed" ng-show="o.status === 'unconfirmed'">
        <td colspan="5">{{'market.tip.confirm_order' | translate:'{value: account.name}'}}</td>
      </tr>
      <!--rows-->
      <tr ng-repeat-end id="order_{{o.id}}" class="{{o.status}} {{o.type}}">
        <!--collateral-->
        <td ng-click="use_trade_data({interest_rate: o.interest_rate, price_limit: o.short_price_limit, collateral: o.collateral})"><span>{{o.collateral | formatDecimal : actual_market.quantity_precision}}</span></td>
        <!--interest rate-->
        <td ng-click="use_trade_data({interest_rate: o.interest_rate, price_limit: o.short_price_limit, collateral: o.collateral})">
          {{o.interest_rate | formatDecimal : 2 : true}}
        </td>
        <!--quantity-->
        <td ng-click="use_trade_data({interest_rate: o.interest_rate, price_limit: o.short_price_limit, collateral: o.collateral})"><span>{{o.collateral * actual_market.shorts_price/2.0 | formatDecimal : actual_market.base_precision}}</span></td>
        <!--price limit-->
        <td ng-click="use_trade_data({interest_rate: o.interest_rate, price_limit: o.short_price_limit, collateral: o.collateral})">{{o.short_price_limit | formatDecimal : market.price_precision : true}}</td>
        <td>
          <span ng-switch on="o.status">
            <span ng-switch-when="unconfirmed">
              <button class="btn btn-primary btn-xs confirm" ng-click="confirm_order(o.id)" translate>btn.confirm</button>
              <button class="btn btn-danger btn-xs" ng-click="cancel_order(o.id)" translate>btn.cancel</button>
            </span>
            <span ng-switch-when="canceled" translate>tip.canceling</span>
            <span ng-switch-when="pending" translate>tip.pending</span>
            <span ng-switch-when="cover">
              <button class="btn btn-success btn-xs confirm" ng-click="cover_order(o)" translate>btn.cover</button>
            </span>
            <span ng-switch-default>
              <button class="btn btn-danger btn-xs" ng-click="cancel_order(o.id)" tooltip="Fee {{tx_fee}} {{market.base_symbol}}" translate>btn.cancel</button><br/>
            </span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
