<div class="fixed-height-table">
  <table class="table table-striped table-hover market-table">
    <thead>
      <tr>
        <th translate>th.type</th>
        <th>{{'th.order_price'|translate}} ({{market.price_symbol}})</th>
        <th>{{'th.quantity'|translate}} ({{market.quantity_symbol}})</th>
        <th>{{'th.cost'|translate}} ({{market.base_symbol}})</th>
        <th>{{'th.collateral'|translate}} ({{market.collateral_symbol}})</th>
        <th translate>th.action</th>
      </tr>
    </thead>
    <tbody ng-repeat="o in orders track by $index">
      <tr class="warning alert alert-danger unconfirmed" ng-show="o.warning">
        <td colspan="6"><i class="fa fa-warning"></i> <b>{{'tip.warning' | translate}}.</b> &nbsp; {{ o.warning | translate:'{value: o.price_diff}' }}</td>
      </tr>
      <tr id="order_{{o.id}}" class="{{o.status}}">
        <td>{{('market.order_type.'+o.type) | translate}}</td>
        <td tooltip="{{o.price | formatDecimal :  market.price_precision+4 : true}}" tooltip-append-to-body="true">
          {{o.price | formatDecimal : market.price_precision : true}}
        </td>
        <td><span ng-show="o.quantity >= 0.0">{{o.quantity | formatDecimal : market.quantity_precision}}</span></td>
        <td><span ng-show="o.cost >= 0.0">{{o.cost | formatDecimal : market.base_precision}}</span></td>
        <td><span ng-show="o.collateral">{{o.collateral | formatDecimal : market.base_precision}}</span></td>
        <td>
        <span ng-switch on="o.status">
          <span ng-switch-when="unconfirmed">
            <button class="btn btn-primary btn-xs confirm" ng-click="confirm_order(o.id)" translate>btn.confirm</button>
            <button class="btn btn-danger btn-xs" ng-click="cancel_order(o.id)" translate>btn.cancel</button>
          </span>
          <span ng-switch-when="canceled" translate>tip.canceling</span>
          <span ng-switch-when="pending" translate>tip.pending</span>
          <span ng-switch-when="cover">
            <button class="btn btn-success btn-xs confirm" ng-click="cover_order(o)" translate>btn.cover</button>
          </span>
          <span ng-switch-default>
            <button class="btn btn-danger btn-xs" ng-click="cancel_order(o.id)" translate>btn.cancel</button><br/>
          </span>
        </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
