<div class="fixed-height-table">
  <table class="table table-striped table-hover market-table fixed-height">
    <thead>
      <tr>
        <th>PRICE ({{market.name}})</th>
        <th>QUANTITY ({{market.quantity_symbol}})</th>
        <th>TOTAL ({{market.base_symbol}})</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="unconfirmed.ask" class="unconfirmed">
        <td>{{unconfirmed.ask.price | formatMoney}}</td>
        <td>{{unconfirmed.ask.quantity | formatMoney}}</td>
        <td>{{unconfirmed.ask.cost | formatMoney}}</td>
        <td><button class="btn btn-success btn-xs" ng-click="confirm_ask()">Confirm</button></td>
      </tr>
      <tr ng-repeat="ask in asks track by $index" ng-class="{cancelable: ask.cancelable}">
        <td>{{ask.price | formatMoney}}</td>
        <td>{{ask.quantity | formatMoney}}</td>
        <td>{{ask.cost | formatMoney}}</td>
        <td><button class="btn btn-warning btn-xs" ng-click="cancel_ask(ask.id)">Cancel</button></td>
      </tr>
    </tbody>
  </table>
</div>
