<form name="sell_form" class="form-horizontal" role="form" ng-submit="submit_ask()" novalidate>
  <div form-hgroup-value label="{{'account.balances'|translate}}" show-value="true" data-symbol="{{market.quantity_symbol}}">
    <span class="clickable" ng-click="use_trade_data({price: market.highest_bid, quantity: account.quantity_balance})">
      {{account.quantity_balance | formatDecimal : market.quantity_precision}}
    </span>
  </div>
  <div form-hgroup label="{{'market.quantity'|translate}}" addon="{{market.quantity_symbol}}">
    <input-positive-number name="ask_quantity" ng-model="ask.quantity" required="true" />
  </div>
  <div form-hgroup label="{{'market.price'|translate}}" addon="{{market.price_symbol}}">
     <input-positive-number name="ask_price" ng-model="ask.price" required="true" />
  </div>
  <div form-hgroup-note ng-show="market.highest_bid">
    {{'market.highest_bid'|translate}} <span class="clickable" ng-click="use_trade_data({price: market.highest_bid})">{{market.highest_bid | formatDecimal : market.price_precision}}</span> {{market.price_symbol}}
  </div>
  <div form-hgroup-value label="{{'market.total'|translate}}" data-symbol="{{market.base_symbol}}" show-value="{{sell_form.$valid}}">
    {{ask.quantity * ask.price | formatDecimal : market.base_precision}}
  </div>
  <div form-hgroup-error></div>
  <button form-hgroup-submit-btn>{{'market.sell'|translate}} {{market.quantity_symbol}}</button>
</form>
