<form name="short_form" class="form-horizontal" role="form" ng-submit="submit_short_form()" novalidate>
  <div form-hgroup-value label="Balance" show-value="true" data-symbol="{{base_symbol}}">{{short.balance | formatAssetPrice}}</div>
  <div form-hgroup label="Quantity" addon="{{quote_symbol}}">
    <input-positive-number name="short_quantity" ng-model="short.quantity" required="true" />
  </div>
  <div form-hgroup label="Price" addon="{{market_name}}">
    <input-positive-number name="short_price" ng-model="short.price" required="true" />
  </div>
  <div form-hgroup-value label="Total" data-symbol="{{base_symbol}}" show-value="{{short_form.$valid}}">{{short.quantity * short.price | formatMoney}}</div>
  <div form-hgroup-error></div>
  <button form-hgroup-submit-btn>Short {{quote_symbol}}</button>
</form>
