<form ng-show="advanced" name="short_form" class="form-horizontal order-form" role="form" ng-submit="submit_short()" novalidate>
  <div form-hgroup-value label="{{'market.balance'|translate}}" show-value="true" data-symbol="{{actual_market.quantity_symbol}}">
    <span class="clickable" ng-click="use_trade_data({collateral_ratio: market.shorts_price, quantity: account.base_balance / market.shorts_price})"
          tooltip="{{'account.name'|translate}}: {{account.name}}">
      {{account.short_balance | formatDecimal : market.base_precision}}</span>
  </div>
  <div form-hgroup label="{{'market.quantity'|translate}}" addon="{{actual_market.base_symbol}}">
    <input-positive-number name="short_quantity" ng-model="short.quantity" required="true" />
  </div>
  <div form-hgroup label="{{'market.collateral_ratio'|translate}}" addon="{{actual_market.quantity_symbol}}/{{actual_market.base_symbol}}">
    <input-positive-number name="short_collateral_ratio" ng-model="short.collateral_ratio" required="true" />
  </div>
  <div form-hgroup label="{{'market.price_limit'|translate}}" addon="{{market.price_symbol}}">
    <input-positive-number name="short_price_limit" ng-model="short.short_price_limit" />
  </div>
  <div form-hgroup-note ng-show="market.shorts_price">
    {{'market.feed_price'|translate}} <span class="clickable" ng-click="use_trade_data({collateral_ratio: market.inverted ? market.shorts_price : 1.0/market.shorts_price, price_limit: market.shorts_price})">{{market.shorts_price | formatDecimal : market.price_precision}}</span> {{market.price_symbol}}
  </div>
  <div form-hgroup-value label="{{'market.total'|translate}}" data-symbol="{{actual_market.quantity_symbol}}" show-value="{{short_form.$valid}}">
    {{short.total}}
  </div>
  <div form-hgroup-error></div>
  <button form-hgroup-submit-btn help="{{'block.trx.fee'|translate}} {{blockchain_tx_fee}} {{blockchain_symbol}}">{{'market.short'|translate}} {{actual_market.base_symbol}}</button>
</form>

<div ng-show="!advanced" class="simple-mode-short-stub">
  <a ng-click="flip_advanced()" class="market-header-button">
            <i class="fa {{advanced ? 'fa-check-square-o' : 'fa-square-o'}} fa-fw"></i>
            {{'market.advanced' | translate}}</a>
</div>