<table class="table table-striped market-table">
  <thead>
    <tr>
      <th translate>th.type</th>
      <th>{{'th.order_price'|translate}} ({{market.price_symbol}})</th>
      <th>{{'th.paid'|translate}} ({{actual_market.quantity_symbol}})</th>
      <th>{{'th.received'|translate}} ({{actual_market.base_symbol}})</th>
      <td>{{'th.time'|translate}}</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="t in trades">
      <td>{{t.display_type}}</td>
      <td>{{t.price | formatDecimal : market.price_precision : true}}</td>
      <td>{{t.paid | formatDecimal : actual_market.quantity_precision}}</td>
      <td>{{t.received | formatDecimal : actual_market.base_precision}}</td>
      <td>{{t.timestamp}}</td>
    </tr>
  </tbody>
</table>
