<div class="main-content">
  <tabset>
    <!-- preferences tab -->
    <tab ng-click="goto_tab('advanced.preferences')" active="tabs[0].active">
      <tab-heading><i class="fa fa-gears fa-fw fa-lg"></i> {{'index.preferences' | translate}}</tab-heading>
      <div ui-view="advanced-preferences"></div>
    </tab>

    <!--console tab -->
    <tab ng-click="goto_tab('advanced.console')" active="tabs[1].active">
      <tab-heading><i class="fa fa-terminal fa-fw fa-lg"></i>{{ 'index.console' | translate }}</tab-heading>
      <div ui-view="advanced-console"></div>
    </tab>
  </tabset>
</div>
