<div class="header">
<div class="col-sm-12">
    <h3 class="header-title" translate>index.wallet</h3>
</div>
</div>
<div class="header"> <div class="col-sm-12"> <div class="main-content">

<form class="form-horizontal" name="form">

<div class="form-group">
    <label for="brainkeyPassword" class="control-label col-sm-2"  translate>brain_wallet.brainkey</label>
    <div class="col-sm-10">
        <input class="form-control" id="brainkeyPassword"
            ng-hide="brainkey.text" type="password" 
            ng-model="brainkey.password" ng-trim="true" 
            ng-change="brainkey_submit()" autofocus
            autocomplete="off"
        >
        <div ng-hide="brainkey.text">
            <div translate>
                brain_wallet.password_to_show
            </div>
        </div>
        <span ng-show="brainkey.text">
            <pre>{{brainkey.text}}</pre>&nbsp;
            (<a ng-click=" brainkey.text='' "><span translate>hide</span></a>)
        </span>
        <div class="description">
            <b><span class="text-muted" translate>
                brain_wallet.brainkey_warning
            </span></b>
            <span class="text-muted" translate>
                brain_wallet.brainkey_warning_recover
            </span>
            <span class="text-muted" translate>
                brain_wallet.brainkey_warning_attack
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="brainkeyPassword" class="col-sm-2 control-label"  translate>brain_wallet.delete_wallet</label>
    <div class="col-sm-10">
        <div ng-hide="brainkey.delete_confirmed">
            <input class="form-control" id="brainkeyPassword"
                ng-hide="brainkey.text" type="password" 
                ng-model="brainkey.delete_password" ng-trim="true" 
                ng-change="delete_submit()"
                autocomplete="off"
            >
            <div translate>
                brain_wallet.password_to_delete
            </div>
        </div>
        <span ng-show="brainkey.delete_confirmed">
            <button class="btn btn-primary"
                ng-click="deleteWallet()"
                translate>brain_wallet.delete
            </button>
            <button class="btn btn-primary"
                ng-click="cancelDelete()"
                translate>brain_wallet.cancel
            </button>
        </span>
    </div>
</div>


</form>

</div> </div> </div>