<div class="row">
  <div class="col-sm-12 col-lg-6 col-md-8">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title" translate>account.wall.burn_records</h3>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="icon-column" translate></th>
            <th translate>th.amount</th>
            <th translate>th.message</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in burn_records">
            <td class="icon-column"><i class="fa fa-fw fa-2x" ng-class="r.for ? 'fa-thumbs-o-up' : 'fa-thumbs-o-down'" tooltip="{{(r.for ? 'account.wall.for' : 'account.wall.against') | translate}}"/></td>
            <td>{{r.amount}}</td>
            <td>{{r.message}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-0 col-lg-6 col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-lg-6 col-md-8">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title" translate>account.wall.burn_post</h3>
        <h6 translate translate-values="{account_name: account_name}">account.wall.explain</h6>
      </div>
      <form name="burn_form" class="form-horizontal" role="form" ng-submit="post()" novalidate>
        <!-- from -->
        <div form-hgroup label="{{'account.from'|translate}}">
          <div class="input-group-btn" dropdown is-open="status.isopen">
            <button type="button" class="btn dropdown-toggle" dropdown-toggle>{{burn.from}} <span class="caret"></span></button>
            <ul class="dropdown-menu scrollable-menu-short" role="menu">
              <li ng-repeat="a in burn.accounts">
                <a ng-click="burn.from = a; status.isopen=false">{{a}}</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- amount -->
        <div form-hgroup label="{{'account.amount'|translate}}">
          <div class="input-group">
            <input class="form-control" ng-model="burn.amount" name="amount"
            type="text" class="form-control" placeholder="0.0" id="amount"
            ui-validate="'$value > 0'" ng-change="hot_check_send_amount();"
            autocomplete="off" required/>
            <!-- asset selector -->
            <div class="input-group-btn" dropdown is-open="status.isopen">
              <button type="button" class="btn dropdown-toggle" dropdown-toggle ng-disabled="disabled">{{burn.symbol}} <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="symbol in burn.symbols">
                  <a ng-click="burn.symbol = symbol; status.isopen=false">{{symbol}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- message -->
        <div form-hgroup label="{{'account.wall.message'|translate}}">
          <input name="message" ng-model="burn.message" type="text" class="form-control" required="true"/>
        </div>

        <div form-hgroup>
            <button ng-click="toggleType()" type="button" class="btn btn-info btn-sm outline" ng-class="{'active':burn.type==='for'}"><span translate>account.wall.for</span></button>
            <button ng-click="toggleType()" type="button" class="btn btn-info btn-sm outline" ng-class="{'active':burn.type==='against'}"><span translate>account.wall.against</span></button>
        </div>
        <!--Submit-->
        <div form-hgroup-error></div>
        <button form-hgroup-submit-btn><span translate>account.wall.post_message</span></button>
      </form>
      <br/>
    </div>
  </div>
  <div class="col-sm-0 col-lg-6 col-md-4">
  </div>
</div>
