<h5 ng-if="account.public_data.delegate.description"><span translate>delegate.description</span> :<span style="font-weight:bold;"> {{ account.public_data.delegate.description }}</span></h5>
<h5 ng-if="account.public_data.delegate.proposal"><span translate>delegate.proposal</span> : <a ng-click="link(account.public_data.delegate.proposal)"><span style="font-weight:bold;">{{ account.public_data.delegate.proposal }}</span></a></h5>
<h5 ng-if="account.public_data.delegate.country"><span translate>delegate.country</span> : <span style="font-weight:bold;">{{ account.public_data.delegate.country }}</span></h5>
<h5 ng-if="account.public_data.delegate.location"><span translate>delegate.location</span> : <span style="font-weight:bold;">{{ account.public_data.delegate.location }}</span></h5>
<h5 ng-if="account.public_data.delegate.handle"><span translate>delegate.handle</span> : <span style="font-weight:bold;">{{ account.public_data.delegate.handle }}</span></h5>
<h5 ng-if="account.public_data.delegate.ann"><span translate>delegate.ann</span> : <span style="font-weight:bold;">{{ account.public_data.delegate.ann }}</span></h5>
<br>
<h3 translate>account.price_feeds</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th translate uppercase>th.bitasset</th>
    <th translate uppercase>th.price</th>
    <th translate uppercase>th.last_updated</th>
  </tr>
  </thead>
  <tbody>
        <tr ng-repeat="feed in feeds | orderBy:['-last_update','asset_symbol']" ng-class="((feed.last_update | hoursAgo)>24) ? 'text-danger' : 'text-default'">
            <td>
              {{feed.asset_symbol}}
            </td>
            <td>
              {{ feed.price | formatDecimal:symbol2records[feed.asset_symbol].precision}} {{feed.asset_symbol+'/BTS'}}
            </td>
            <td>
              {{feed.last_update | prettyDate}}
            </td>
        </tr>
	</tbody>
</table>