<div class="account-page" ng-class="(account.delegate_info) ? 'row head-bg-delegate p-inner' : 'row head-bg p-inner'">
  <div class="col-sm-2">
    <div class="avatar-150">
      <identicon account="{{account_name}}" size="150"/>
    </div>
    <br/>
    <div ng-show="!account.delegate_info && !is_bitshares_js" class="text-center avatar-150">
      <button ng-show="!account.is_address_book_contact && !add_to_address_book.error" ng-click="addToAddressBook(account_name)" class="btn btn-primary btn-sm">
            <span translate>contact.add_to_address_book</span>
      </button>
      <span ng-show="add_to_address_book.error" class="text-danger">{{add_to_address_book.error}}</span>
      <span ng-show="add_to_address_book.message" class="text-success">{{add_to_address_book.message}}</span>
    </div>
    <div ng-show="account.delegate_info && !is_bitshares_js" class="text-center avatar-150">
      <button ng-show="!account.is_address_book_contact" ng-click="addToAddressBook()" class="btn btn-sm btn-link primary" tooltip="{{ 'contact.add_to_address_book' | translate }}">
        <i class="fa fa-book fa-2x"></i>
      </button>
      <button ng-click="toggleVoteUp()" class="btn btn-sm btn-link primary"
              tooltip="{{ 'account.toggle.approval' | translate }}">
        <i ng-if="account.approved>0" class='fa fa-thumbs-up fa-2x'></i>
        <i ng-if="!account.approved || account.approved==0" class='fa fa-thumbs-o-up fa-2x'></i>
        <i ng-if="account.approved<0" class='fa fa-thumbs-down fa-2x'></i>
      </button>
    </div>
  </div>

  <div class="col-sm-10">

    <div class="header p-inner white-shadow">
      <div ng-if="current_account" class="pull-right">
        &nbsp; <a class="btn btn-primary" ui-sref="transfer({from: current_account, to: account.name})"><span translate>account.pay_to</span> {{account.name}}</a>
      </div>
      <div ng-switch on="account.registration_date">
        <div ng-switch-when="1970-01-01T00:00:00">
          <div ng-switch on="p.pendingRegistration">
            <div ng-switch-when='pending'>
              <!--<div class="pull-right" translate>account.reg_pending</div>-->
              <span class="account-name">{{account.name}}</span>
              &nbsp;&nbsp; <span class="text-muted" translate>account.reg_pending</span>
            </div>
            <div ng-switch-default>
              <div class="pull-right">
                <a href ng-show="account.is_my_account" ng-click='regDial()' class="btn btn-primary"><span translate>account.reg</span> {{account.name}}</a>
              </div>
              <span class="account-name">{{account.name}}</span>
              &nbsp;&nbsp; <span class="text-muted" translate>tip.not_reg_onchain</span>
            </div>
          </div>
        </div>
        <div ng-switch-default class="reg-date" style="" class="white-shadow">
          <span class="account-name">{{account.name}}</span> &nbsp;
          <i class="fa fa-fw fa-check text-success"></i> <span tooltip=" {{ 'account.reg_date' | translate }}: {{ account.registration_date | prettyDate }}" translate>directory.registered</span>
          &nbsp; 
          <br/>
          <a style="color:white;" ng-click="link(website)">{{ website }}</a>
          <div ng-if="delegate.role" style='color:white;font-size:150%'>Role: {{ delegate.role }}</div>
        </div>
      </div>
      <div ng-if="account.delegate_info">
      <div class='white-shadow' ng-if="active_delegate" translate>account.active_delegate</div>
      <div class='white-shadow' ng-if="!active_delegate" translate>account.standby_delegate</div>
      <div class='white-shadow'><span translate>account.rank</span>: {{ rank }}</div>
      <table class="table table-acc-balance">
        <thead>
          <tr>
            <th translate>th.approval</th>
            <th translate>th.reliability</th>
            <th translate>th.blk_produced</th>
            <th translate>th.blk_missed</th>
            <th translate>th.pay_rate</th>
            <th translate>th.pay_balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <span ng-switch on='del.delegate_info.votes_for/current_xts_supply<0.0001'
                      tooltip="Approval: {{ account.delegate_info.votes_for | formatVotes}}">
          <span ng-switch-when='true'>&#60;0.01%</span>
          <span ng-switch-default>{{ (account.delegate_info.votes_for)/current_xts_supply*100 | number:2 }}%</span>
        </span>
            </td>
            <td ng-switch on='account.delegate_info.blocks_produced>0 || account.delegate_info.blocks_missed>0'>
              <span ng-switch-when='true'>{{ account.delegate_info.blocks_produced/(account.delegate_info.blocks_produced + account.delegate_info.blocks_missed)*100 | number:2 }}%</span>
              <span ng-switch-default translate>unknown</span>
            </td>
            <td>{{ account.delegate_info.blocks_produced }}</td>
            <td>{{ account.delegate_info.blocks_missed }}</td>
            <td>{{ account.delegate_info.pay_rate }}%</td>
            <td>
                {{account.delegate_info.pay_balance_asset | formatAsset}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <span class="account-key" ng-show="account.registration_date === '1970-01-01T00:00:00'"><span translate>account.account_key</span>: {{account.active_key}}</span>
    <span class="account-key" ng-show="account.id"><span translate>account.id</span>: {{account.id}}</span>
  </div>

  <div class="col-sm-5">
  </div>

  <div class="col-sm-2">
    <div class="pull-right p-inner">
      <table class="table table-acc-balance" ng-show="account.is_my_account">
        <thead>
          <tr>
            <th><h3 class="header-title text-muted" translate>account.balances</h3></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(symbol, asset) in balances">
            <td>
              {{asset | formatAsset}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="pull-right p-inner">
      <table class="table table-acc-balance" ng-show="account.is_my_account">
        <thead>
          <tr>
            <th><h3 class="header-title text-muted" translate>account.estimated_yield</h3></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(symbol, asset) in bonuses">
            <td>
              {{asset | formatAsset}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>

<div class="main-content">
<div class="row">

  <div class="col-sm-12">
    <tabset>

      <!--recent transactions tab -->
      <tab ng-click="goto_tab('account.transactions')" active="tabs[0].active">
        <tab-heading><i class="fa fa-list fa-fw fa-lg"></i> <span translate>account.recent_trxs</span></tab-heading>
        <div ui-view="account-transactions" class="p-inner" autoscroll="false"></div>
      </tab>

      <!--delegate info tab -->
      <tab ng-show="account.delegate_info && !is_bitshares_js" 
            ng-click="goto_tab('account.delegate')" active="tabs[1].active">
        <tab-heading><i class="fa fa-legal fa-fw fa-lg"></i> <span translate>account.delegate_info</span></tab-heading>
        <div ui-view="account-delegate" autoscroll="false"></div>
      </tab>

      <!-- Assets tab -->
      <tab ng-click="goto_tab('account.manageAssets')" active="tabs[2].active" ng-show="account.is_my_account && !is_bitshares_js" >
        <tab-heading><i class="fa fa-renren fa-fw fa-lg"></i> <span translate>account.assets</span></tab-heading>
        <div ui-view="account-manage-assets" autoscroll="false"></div>
      </tab>

      <!-- Keys tab -->
      <tab ng-click="goto_tab('account.keys')" active="tabs[3].active" ng-show="account.is_my_account">
        <tab-heading><i class="fa fa-key fa-fw fa-lg"></i> <span translate>account.keys</span></tab-heading>
        <div ui-view="account-keys" autoscroll="false"></div><div ui-view="account-keys2"></div>
      </tab>

      <!-- Edit tab -->
      <tab ng-hide="is_bitshares_js" ng-click="goto_tab('account.edit')" active="tabs[4].active">
        <tab-heading><i class="fa fa-edit fa-fw fa-lg"></i> <span translate>btn.edit</span></tab-heading>
        <div ui-view="account-edit" autoscroll="false"></div>
      </tab>
      
      <!-- Vote tab -->
      <tab ng-click="goto_tab('account.vote')" active="tabs[5].active" ng-if='account.is_my_account && !is_bitshares_js'>
        <tab-heading><i class="fa fa-ticket fa-fw fa-lg"></i> <span translate>account.vote.tab_title</span></tab-heading>
        <div ui-view="account-vote" autoscroll="false"></div>
      </tab>

      <!-- Wall tab -->
      <tab ng-show="account.registered && !is_bitshares_js" 
        ng-click="goto_tab('account.wall')" active="tabs[6].active">
        <tab-heading><i class="fa fa-comments-o fa-fw fa-lg"></i> <span translate>account.wall.tab_title</span></tab-heading>
        <div ui-view="account-wall" autoscroll="false"></div>
      </tab>

    </tabset>

  </div>
</div>
</div>
