<div class="col-md-12">
	<div class="header">
		<div class="pull-right ">
            <a  class="btn btn-primary btn-top-right" href="#/create/account"><i class="fa fa-bank fa-fw"></i> {{ 'accounts.create_account' | translate }}</a>
		</div>
	<h3 class="header-title" translate>accounts.accounts</h3>
	<p class="header-info" translate>accounts.info</p>
	</div>
</div>
<div class="col-sm-12">
<div ng-controller="AccountBalancesController" ng-include src="'account_balances.html'"></div>
</div>
<div class="col-sm-12">
	<div class="header">
		<h3 class="header-title" translate>account.recent_trxs</h3>
	</div>
    <div class="pull-right">
    </div>
</div>
<div class="col-sm-12">
<div ng-controller="TransactionsController" ng-include src="'transactions.html'"></div>
</div>

