		<div class='pull-right'>
			<button type="button" ng-click='updateVotes()' tooltip='The account will transfer its enitre balance (minus transaction fee) to itself' class="btn btn-lg btn-primary"><i class="fa fa-undo fa-lg"></i> Update Votes</button>
		</div>
		<table class="table table-striped table-hover">
			<tr>
				<th>Delegate</th>
				<th>Current Votes</th>
				<th>Furute Votes</th>
			</tr>
			<tr ng-repeat="vote in votes">
				<td>{{vote[0]}}</td>
				<td>{{vote[1]}}</td>
				<td><button ng-click="toggleVoteUp(vote[0])" class="btn btn-xs btn-link ">
                  <i class="green" tooltip-placement="left"
                     tooltip="{{(approved_delegates[vote[0]]) ? 'Click to disapprove' : 'Click to approve'}}"
                     ng-class="(approved_delegates[vote[0]]) ? 'fa fa-thumbs-up fa-2x' : 'fa fa-thumbs-o-up fa-2x'"></i>
                </button></td>
			</tr>
		</table>
