<div class="main-content">
	<div id="account_balances">
		<table class="table table-striped table-hover">
			<thead>
             <tr>
                <th></th>
                <th translate>th.name</th>
                <th width="1em"></th>
                <th translate>th.balance</th>
                <th translate>th.registered</th>
                <th translate>th.id</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-click="go_to_account(a.name)" ng-repeat="a in accounts" ng-show='a.is_my_account'>
              <td class="avatar-40">
                <identicon account="{{a.name}}" size="40"/>
              </td>
              <td>         
                 <b>{{a.name}}</b>
                 <span ng-show="a.not_lightwallet_compatible">
                     <i class="fa fa-warning fa-fw fa-lg"></i>
                     <span tooltip="{{'legacy_account'|translate}}"></span>
                 </span>
             </td>
             <td width="1em">
             </td>
             <td>
                <div ng-repeat="(symbol, asset) in balances[a.name]">{{asset | formatAsset}}</div>
            </td>
            <td>{{a.registration_date | prettyDate}}</td>
            <td>{{a.id ? a.id : "-"}}</td>
        </tr>

    </tbody>
</table>
</div>
</div>
