<div class="col-md-12">
	<div class="header">
		<div class="pull-right ">
            <a class="btn btn-primary btn-top-right" ui-sref="create/account" translate>accounts.create_account</a>
            <!-- track /legacy_accounts usage on server logs, later, delete or move to advanced -->
            <a ng-show="has_legacy_bts_wallet" class="btn btn-primary btn-top-right" href="/legacy_accounts" target="_self" translate>brain_wallet.legacy_accounts</a>
		</div>
	<h3 class="header-title" translate>accounts.accounts</h3>
	</div>
</div>
<div class="col-sm-12">
<div ng-controller="AccountBalancesController" ng-include src="'account_balances.html'"></div>
</div>
<div class="col-sm-12">
	<div class="header">
		<h3 class="header-title" translate>account.recent_trxs</h3>
	</div>
    <div class="pull-right">
    </div>
</div>
<div class="col-sm-12">
	<div ng-controller="TransactionsController" ng-include src="'transactions.html'"></div>
</div>
