<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th translate uppercase>th.bitasset</th>
    <th translate uppercase>th.price</th>
    <th translate uppercase>th.last_updated</th>
  </tr>
  </thead>
  <tbody>
        <tr ng-repeat="feed in feeds" ng-class="((feed.last_update | hoursAgo)>24) ? 'text-danger' : 'text-default'">
            <td>
              {{feed.asset_symbol}}
            </td>
            <td>
              {{ feed.price | formatDecimal:symbol2records[feed.asset_symbol].precision}}
            </td>
            <td>
              {{feed.last_update | prettyDate}}
            </td>
        </tr>
	</tbody>
</table>