<div class="header">
	<div class="col-sm-12">
		<h3 class="header-title">{{account.name}}</h3>
		
	</div>
</div>

<div class="main-content">
	<div>{{account.active_key}}</div>
	<br>
	<div class="pull-right">
			<a class="btn btn-primary" ui-sref="editaccount"><i class="fa fa-edit fa-lg fa-fw"></i> Edit</a>
		</div>
	<button class="btn btn-primary"><i class="fa fa-file-excel-o fa-lg fa-fw"></i> Issue assets</button>
</div>
<tabset>
<tab heading="Import Private Key">
<form class="form-horizontal" role="form" ng-submit="import_key()">
      <div class="form-group">
       <label for="pk_value" class="col-sm-2 control-label">Private Key</label>
       <div class="col-sm-9">
        <input ng-model="$parent.pk_value" type="text" class="form-control" id="pk_value" placeholder="Private Key"/>
       </div>
      </div>
      <div class="form-group">
       <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Import Key</button>
       </div>
      </div>

     </form>
</tab>
    <tab heading="Import Wallet">
     <br/>

     <form class="form-horizontal" role="form" ng-submit="import_wallet()">
      <div class="form-group">
       <label for="wallet_file" class="col-sm-2 control-label">Wallet Path</label>
       <div class="col-sm-9">
        <input ng-model="$parent.wallet_file" type="text" class="form-control" id="wallet_file" placeholder=""/>
       </div>
      </div>
      <div class="form-group">
       <label for="wallet_password" class="col-sm-2 control-label">Wallet Password</label>
       <div class="col-sm-9">
        <input ng-model="$parent.wallet_password" type="password" class="form-control" id="wallet_password" placeholder="Password"/>
       </div>
      </div>
      <div class="form-group">
       <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Import Wallet</button>
       </div>
      </div>
     </form>
    </tab>
</tabset>
<div ng-controller="TransactionsController" ng-include src="'transactions.html'"></div>
