<div class="vote-tab-header clearfix">
  <div ng-if="has_balance" class="pull-right">
    <div class="btn-group" dropdown is-open="status2.isopen">
      <button type="button" class="btn dropdown-toggle" dropdown-toggle>
        {{ ('account.vote.'+vote_options[data.vote]) | translate }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu left" role="menu">
        <li ng-repeat="(k, v) in vote_options">
          <a ng-click="data.vote=k; status2.isopen=false">{{ ('account.vote.'+v) | translate }}</a>
        </li>
      </ul>
    </div>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <button type="button" ng-click="updateVotes()" class="btn btn-primary"><i class="fa fa-ticket fa-lg"></i> <span translate>account.vote.btn_update_vote</span></button>
  </div>
  <div ng-if="!has_balance" class="pull-right">
    <span class="text-danger" translate translate-values="{symbol: data.main_asset_symbol}">account.vote.no_balance</span>
  </div>
  <h3 class="col-sm-2 no-top-space" translate>account.vote.current_votes</h3>
</div>
<table class="table table-striped">
  <tr>
    <th translate>th.delegate</th>
    <th translate>account.vote.votes</th>
    <th style='text-align:right' translate>account.vote.approval</th>
  </tr>
  <tr ng-repeat="vote in votes">
    <td>{{vote[0]}}</td>
    <td>{{vote[1] / data.main_asset_precision | formatDecimal}} {{data.main_asset_symbol}}</td>
    <td>
    <button ng-click="toggleVoteUp(vote[0])" class="btn btn-sm btn-link primary" tooltip="{{ 'account.toggle.approval' | translate }}">
      <i ng-if="accounts[vote[0]].approved>0" class='fa fa-thumbs-up fa-2x'></i>
      <i ng-if="!accounts[vote[0]].approved || account[vote[0]].approved==0" class='fa fa-thumbs-o-up fa-2x'></i>
      <i ng-if="accounts[vote[0]].approved<0" class='fa fa-thumbs-down fa-2x'></i>
    </button>
  </td>
  </tr>
</table>
