<div class="container-fluid">

  <div ng-show="!data.add_contact_mode" class="contacts">
    <div class="modal-header">
      <div class="row">
      <input class="pull-right" type="text" class="form-control" ng-model="data.contact_name_filter" placeholder="{{ 'pagination.filter' | translate }}"/>
      {{contact_name_filter}}
      <h3 class="modal-title" translate>contact.address_book</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <ul class="list-group contacts-list">

          <li class="list-group-item clearfix" ng-repeat="name in data.contacts | filter:data.contact_name_filter" ng-click="selectAccount(name)">
            <div class="pull-right remove-contact-btn" ng-click="removeContact(name)"><i class="fa fa-times fa-fw" ng-hide="isMyAccount(name)" tooltip="{{'btn.remove'|translate}}"></i></div>
            <identicon account="{{name}}" size="40"/>
            <span class="name">{{name}}</span>
            <span class="address-book-account-id" ng-show="data.contact_accounts[name].id">#{{data.contact_accounts[name].id}}</span>
            <span class="address-book-account-id" ng-show="!data.contact_accounts[name].id" translate>account.unregistered</span>
          </li>
        </ul>

        <div class="modal-footer">
          <button class="btn btn-warning" ng-click="cancel()"><span translate>btn.close</span></button>
          <button class="btn btn-success pull-left" ng-click="data.add_contact_mode = true"><span translate>contact.add_contact</span></button>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="data.add_contact_mode" class="add-contact">
    <div class="modal-header">
      <h3 class="modal-title" translate>contact.new_contact</h3>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="avatar">
          <identicon account="{{account.name}}" size="100"/>
        </div>
      </div>
      <div class="col-md-10">
        <form class="newcontact-modal-form" name="newcontact" role="form" ng-submit="ok()" novalidate>
          <div form-vgroup label="{{'contact.contact_name'|translate}}" help="{{'directive.input_name.note2'|translate}}" help-if="true">
            <input-account-name name="account_name" autofocus ng-model="account.name"/>
          </div>
          <div form-vgroup label="{{'contact.public_key'|translate}}">
            <input ng-model="account.key" name="account_key" class="form-control"/>
          </div>
        </form>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-disabled="!newcontact.$valid" ng-click="ok()">&nbsp; <span translate>contact.btn_add_contact</span> &nbsp;</button>
          <button class="btn btn-warning" ng-click="cancel()"><span translate>btn.close</span></button>
        </div>
      </div>
    </div>
  </div>

</div>
