<div class="col-sm-12">
  <div class="header">
                    <div class="row">
                        <div class="col-xs-2">
                            <ul class="pager">
                                <li class="previous"><a href="#/blocks/round/{{round - 1}}?withtrxs={{filter_zero_trxs}}" ng-if="round > 1">← Older</a></li>
                             </ul>
                        </div>
                        <div class="col-xs-4">
                        <h3 style="text-align: center;">Blocks #{{start}} - #{{end}}</h3>
                        </div>
                        <div class="col-xs-2">
                        <ul class="pager">
                        <li class="next" ng-if="round < last_block_round"><a href="#/blocks/round/{{round + 1}}?withtrxs={{filter_zero_trxs}}">Newer →</a></li>
                          </ul>
                        </div>
               <div class="col-sm-4 p-inner">

              <div class="checkbox pull-right">
              <label>
                <div class="checker">
                        <input type="checkbox" name="filter_trxs" ng-model="filter_zero_trxs"> {{"tip.info_trx_only"| translate}}</input>
                </div>
              </label>
            </div>
        </div>

  </div>
</div>

<div class="main-content">

      <table class="table table-striped table-hover">
         <thead>
         <tr>
            <th translate>th.height</th>
            <th translate>th.time</th>
            <th translate>th.trx_count</th>
            <th translate>th.delegate</th>
            <th translate>th.latency</th>
            <th translate>th.size</th>
         </tr>
         </thead>
         <tbody>
             <tr ng-repeat="block in blocks | orderBy:'timestamp':true" ng-if=" !filter_zero_trxs || block.user_transaction_ids.length">
                <td ng-if="block.block_num!=-2"><a href="#/blocks/{{ block.block_num }}">{{ block.block_num }}</a></td>
                <td ng-if="block.block_num==-2" class="text-danger" translate>missin_block</td>
                <td>
                   {{ block.timestamp | prettyDate}}&emsp;
                </td>
                <td ng-if="block.block_num==-2" colspan=1 class="text-danger"></td>
                <td ng-if="block.block_num!=-2">
                   {{ block.user_transaction_ids.length }}
                </td>
                <td>
                    <a href="#/accounts/{{ block.delegate_name }}">
                        {{ block.delegate_name }}
                    </a>
                </td>
                <td ng-if="block.block_num==-2" colspan=2></td>
                <td ng-if="block.block_num!=-2">
                    {{ block.latency | formatSecond}}
                </td>
                <td ng-if="block.block_num!=-2">{{ block.block_size }}</td>
             </tr>

         </tbody>
      </table>
</div>
