<!--<ol class="breadcrumb">-->
 <!--<li><i class="fa fa-home fa-fw"></i>Home</a></li>-->
 <!--<li><i class="fa fa-link fa-fw"></i> Block Explorer</li>-->
<!--</ol>-->
<div class="header">
	<div class="col-sm-8">
		<h3 class="header-title">Block Explorer</h3>
	</div>
    <div class="pull-right">
        <!--<h4><a href="#/blocks/hour/{{blocks.last_block_timestamp | date: 'yyyyMMddTHH'}}">More...</a></h4>-->
        <h4><a href="#/blocks/round/{{blocks.last_block_round + 1}}">More...</a></h4>
    </div>
</div>

<div class="main-content">
   <b>
      <table class="table table-striped table-hover">
         <thead>
         <tr>
            <th>Height</th>
            <th>Age</th>
            <th>Transactions</th>
            <th>Fee Rate</th>
            <th>Delegate Pay Rate</th>
            <th>Size</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="block in blocks.value">
            <td><a href="#/blocks/{{ block.block_num }}">{{ block.block_num }}</a></td>
            <td>
               {{ block.timestamp | prettyDate}}&emsp;
            </td>
            <td>
               {{ block.user_transaction_ids.length }}&emsp;
            </td>
            <td>{{ block.fee_rate }}</td>
            <td>{{ block.delegate_pay_rate }}</td>
            <td>{{ block.block_size }}</td>
         </tr>
         </tbody>
      </table>
   </b>
</div>
