<div class="header">
	<div class="col-sm-12">
        <h2 align="center">
            <a href="#/blocks/round/{{round - 1}}" ng-if="round > 1">&lt;&lt; Older</a>
            <b>Blocks #{{start}} - #{{end}}</b>
            <a href="#/blocks/round/{{round + 1}}">Newer &gt;&gt;</a>
        </h2>
	</div>
</div>

<div class="main-content">
   <b>
      <table class="table table-striped table-hover">
         <thead>
         <tr>
            <th>Height</th>
            <th>Time</th>
            <th>Trasanaction Count</th>
            <th>Delegate</th>
            <th>Size</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="block in blocks">
            <td><a href="#/blocks/{{ block.block_num }}">{{ block.block_num }}</a></td>
            <td>
               {{ block.timestamp | prettyDate}}&emsp;
            </td>
            <td>
               {{ block.user_transaction_ids.length }}
            </td>
            <td>
                <a href="#/accounts/{{ block.delegate_name }}">
                    {{ block.delegate_name }}</a>
            </td>
            <td>{{ block.block_size }}</td>
         </tr>
         </tbody>
      </table>
   </b>
</div>
