<div class="header">
	<div class="col-sm-12">
		<h3 class="header-title">{{account.name}}</h3>
	</div>
</div>

<div class="main-content">
	<div>{{account.active_key}}</div>
    Registration date:  {{ account.registration_date | prettyDate }}<br>
	<button ng-click="toggleVoteUp(del.name)" class="btn btn-sm btn-link">
        <i ng-class="(approved_delegates[del.name]) ? 'fa fa-thumbs-up fa-2x' : 'fa fa-thumbs-o-up fa-2x'"></i>
	</button>
</div>

<div ng-controller="TransactionsController" ng-include src="'transactions.html'"></div>
