<!--<ol class="breadcrumb">-->
 <!--<li><i class="fa fa-home fa-fw"></i>Home</a></li>-->
 <!--<li><i class="fa fa-sign-out fa-fw"></i> Contacts</li>-->
<!--</ol>-->

<div class="header">
	<div class="col-md-12">
		<div class="pull-left">
			<button type="submit" ng-click='newContactModal()' class="btn btn-primary"><i class="fa fa-plus fa-fw"></i> New</button>
		</div>
		<div class="pull-right">
			<input type="text" class="form-control" ng-model="filterOptions.filterText" placeholder='Filter'>
		</div>
	</div>
</div>

<div class="main-content">
	<div class="row">
		<div class="col-sm-12">
	        <div style="height: 800px; padding-top:6px" ng-grid="gridOptions"></div>    
	    </div>
    </div>
</div>

