	<div class="col-sm-12">
<div class="header">

		<h3 class="header-title">Create Account</h3>
	</div>
</div>
<div class="row">
<div class="col-md-12 p-inner m-top">
	<div class="col-sm-2 m-top">
				<gravatar-image data-gravatar-email="email" data-gravatar-size="512" data-gravatar-rating="pg" data-gravatar-default="mm" data-gravatar-secure="true" data-gravatar-css-class="img-responsive"></gravatar-image>
				<br>
				<p style='display:none' class="text-center lead">
				{{gravatarDisplayName}}
				</p>
			</div>
			<div class="col-sm-10">
	<form name="createaccount" class="form-horizontal" role="form" ng-submit="createaccount.$valid && createAccount()" ng-class="{ 'has-error' : createaccount.wp.$invalid && !createaccount.wp.$pristine }">
		<div class="form-group m-top">
			
			
				<div class="form-group row">
					<label for="name" class="col-sm-1 control-label">Name</label>
					<div class="col-sm-6">
			    		<input popover="Name can only contain lowercase alphanumeric characters and dashes, must start with a letter, and cannot start or end with a dash.  It can be at most 63 characters long.  Invalid characters are blocked and letters are lowercased automatically."  popover-trigger="focus" ng-keydown='kd()' ng-change='ku()' name="wp" uncapitalize id="wallet_name" autofocus ng-model="f.name" type="text" class="form-control" placeholder="Account Name (Required)"/>
			  		</div>
			  	</div>
			  	<div class="form-group row">
			  		<label for="email" class="col-sm-1 control-label">Email</label>
					<div class="col-sm-6">
			    		<input ng-model="email" type="text" class="form-control" placeholder="Optional Email"/>
			  		</div>
			  	</div>
				<div class="form-group row">
			  		<div class="col-sm-offset-1 col-sm-2" >
			    		<button ng-if="f.name.length > 0" class="btn btn-success" type="submit">Create</button>
			    		<button ng-if="!f.name.length" tooltip-placement="bottom" tooltip='Cannot create account without a name' class="btn btn-default" type="button">Create</button>
			  		</div>
			  		<div class="col-sm-4">
				  		<div class="checkbox">
						    <label>
						      <input type="checkbox"> Free Registration (coming soon)
						    </label>
						</div>
					</div>
			  	</div>
			 </div>
  		
	</form>
	
	<form class="form-horizontal">
		<div class="form-group">
		  	<div class="form-group row">
				<div class="col-sm-offset-1 col-sm-6">
		    		<h4>Privacy Statement</h4>
            <p>
            <b><i>Your privacy is critically important to us.</i></b>
            </p>
            <p> 
            Your email address is only used for the purpose of identifying your <a target="_blank" href="http://gravatar.com">Gravatar</a> account which
            can be tied to your BitShares account.  This helps you and others verify that your transactions are sending funds to the
            expected individual.  
            </p>
            <p>
            Your email is not shared with anyone and no one will be able to send you spam.  
            </p>
		  		</div>
			</div>
		</div>
	</form>
	</div>
</div></div>
