<section class="splashpage-wrapper">
	<div class="str-top">
    	<img src="img/xts-logo-xl-white-shadow.png" />
	</div>

  <div ng-switch="license_accepted">
    <div ng-switch-when="false">
      <div class="license">
      <h4>END USER AGREEMENT</h4>
       <div class="license-body description">
        <div ng-include src="'licenseagreement.html'"></div>
      </div>
      <input type="checkbox" id="accept_license" ng-click="accept_license()"> <label for="accept_license">I accept the terms of the license agreement</label>
      </div>
    </div>
    <div ng-switch-default>

      <div class="str-content" ng-click="descriptionCollapsed = !descriptionCollapsed" translate>unlock.desc_title</div>
      <div class="description" collapse="descriptionCollapsed">
          <p translate>unlock.desc_content_1</p>
          <p translate>unlock.desc_content_2</p>
      </div>

      <a href class="str-arrow fa {{descriptionCollapsed ? 'fa-sort-desc' : 'fa-sort-asc'}}" ng-click="descriptionCollapsed = !descriptionCollapsed"></a>

      <div class="str-bottom">

           <form name="wform" class="form-inline" role="form" ng-submit="submitForm(wform.$valid, spending_password)" novalidate>
                <div class="row">
                     <div class="description">
                        <h4 translate>wallet.create_new_wallet</h4>
                        <p translate>wallet.info</p>
                      </div>
                      <div class="form-group" ng-class="{ 'has-error' : wform.sp.$invalid && !wform.sp.$pristine }">

                        <input tabindex="1" ng-trim="false" ng-model="spending_password" name="sp" type="password" style="width:200px;" class="form-control"  id="spending_password"
                               placeholder="Password"
                               required autofocus ng-minlength="9" ng-maxlength="255" />

                      </div>
                </div>
                <div class="row spacedrow">
                    <div class="form-group" ng-class="{ 'has-error' : wform.csp.$invalid && !wform.csp.$pristine }">

                      <input tabindex="2" ng-trim="false" ng-model="confirm_spending_password" name="csp" type="password" style="width:200px;" class="form-control"
                             id="confirm_spending_password"
                             placeholder="Confirm Password" required pw-check="spending_password" />
                    </div>
                </div>
                <div class="row spacedrow">
                      <div class="form-group row">
                        <button ng-disabled="loading_indicator.show" tabindex="3" type="submit" class="btn btn-primary" translate>wallet.create_wallet</button>
                      </div>
                </div>
               <div class="row">
                   <br>
                   <div ng-show="wform.sp.$error.minlength" class="text-danger small">Password is too short. It must be 9 or more characters.</div>
                   <div ng-show="wform.sp.$error.maxlength" class="text-danger small">Password is too long. It can be at most 255 characters.</div>
                   <div ng-show="wform.sp.$invalid && !wform.sp.$pristine" class="text-danger small">Password is required.</div>
                   <div ng-show="wform.csp.$error.pwmatch" class="text-danger small">Password fields do not match.</div>
               </div>

           </form>

      </div>

   </div>
   </div>
</section>
