<div class="col-sm-12">
  <div class="header">
    <h3 class="header-title" translate>account.new_account</h3>
  </div>
</div>

<div class="container">
<div class="row">

    <div class="col-sm-3 m-top">
      <div class="avatar">
        <img ng-src="http://robohash.org/set_1/{{f.name}}?size=150x150" height="150" width="150" ng-if="f.name"
             tooltip="Your RoboHash is a security feature that helps you verify account names visually"/> <img
          src="img/user.png" height="150" width="150" ng-if="!f.name"/>
      </div>
    </div>

    <div class="col-sm-9">

      <form name="createaccount" class="form-horizontal m-top" role="form" ng-submit="createaccount.$valid && createAccount()"
            novalidate>
        <div class="form-group m-top">
          <div class="form-group row"
               ng-class="{ 'has-error' : (createaccount.account_name.$invalid || createaccount.account_name.error_message) && !createaccount.account_name.$pristine }">
            <label for="account_name" class="col-sm-2 control-label" translate>account.name</label>
            <div class="col-sm-10">
              <input-name autofocus popover-append-to-body='true' ng-model="f.name" form-name="createaccount" show-note-1="true" show-note-2="false"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="website" class="col-sm-2 control-label" translate>account.website</label>
            <div class="col-sm-10">
              <input id="website" ng-model="website" name="website" class="form-control" placeholder="{{ 'account.website_tip' | translate }}"/>
            </div>
          </div>
          <div class="form-group row m-top">
            <div class="col-sm-offset-2">
              <button ng-disabled="!createaccount.$valid" class="btn btn-primary" type="submit" translate>accounts.create_account</button>
            </div>
          </div>
        </div>
      </form>

    </div>

</div>
</div>