<!--<ol class="breadcrumb">-->
 <!--<li><i class="fa fa-home fa-fw"></i>Home</a></li>-->
 <!--<li><i class="fa fa-link fa-fw"></i> Block Explorer</li>-->
<!--</ol>-->
<div class="header">
	<div class="col-sm-12">
		<h3 class="header-title">Active Delegates</h3>
	</div>
</div>

<div class="main-content">
<b>
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th>NAME</th>
			<th>VOTES FOR</th>
			<th>VOTES AGAINST</th>
			<th>BLOCKS PRODUCED</th>
			<th>BLOCKS MISSED</th>
			<th>TRUST</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="del in active_delegates">
			<td>{{ del.name }}</td>
			<td>
				{{ del.delegate_info.votes_for }}&emsp;
			</td>
			<td>
				{{ del.delegate_info.votes_against }}&emsp;
			</td>
			<td>{{ del.delegate_info.blocks_produced }}</td>
			<td>{{ del.delegate_info.blocks_missed }}</td>
			<td>
				<div class="btn-group">
					<button ng-click="toggleVoteUp(del.name)" class="btn btn-sm btn-link">
                        <i ng-class="(trust_levels[del.name] && trust_levels[del.name] > 0) ? 'fa fa-thumbs-up fa-2x' : 'fa fa-thumbs-o-up fa-2x'"></i>
					</button>
					<button ng-click="toggleVoteDown(del.name)" class="btn btn-sm btn-link">
						<i ng-class="(trust_levels[del.name] && trust_levels[del.name] < 0) ? 'fa fa-thumbs-down fa-2x' : 'fa fa-thumbs-o-down fa-2x'"></i>
					</button>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	</b>
	<div>
		<div class="col-sm-12">
			<h4 class="header-title">Inactive Delegates</h4>
		</div>
		<hr>
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th>NAME</th>
				<th>VOTES FOR</th>
				<th>VOTES AGAINST</th>
				<th>BLOCKS PRODUCED</th>
				<th>BLOCKS MISSED</th>
				<th>TRUST</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="del in inactive_delegates track by $index">
				<td>{{ del.name }}</td>
				<td>
					{{ del.delegate_info.votes_for }}&emsp;
				</td>
				<td>
					{{ del.delegate_info.votes_against }}&emsp;
				</td>
				<td>{{ del.delegate_info.blocks_missed }}</td>
				<td>{{ del.delegate_info.blocks_produced }}</td>
				<td>
					<div class="btn-group">
						<button ng-click="voteUp($index)" class="btn btn-sm btn-link">
							<i ng-class="del.name ? 'fa fa-thumbs-up fa-2x' : 'fa fa-thumbs-o-up fa-2x'"></i>
						</button>
						<button ng-click="voteDown($index)" class="btn btn-sm btn-link">
							<i ng-class="del.vote_down ? 'fa fa-thumbs-down fa-2x' : 'fa fa-thumbs-o-down fa-2x'"></i>
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
