<div class="pull-right">
    <button ng-click="unvoteAll()" class="btn btn-success"><i tooltip='Un-approve all' class="fa fa-eraser"></i> {{ "un_approve_all" | translate }}</button>
    </div>

<div class="row">
    <div class="col-sm-3">
    <input type="text" class="form-control" ng-model="search.name" placeholder='Filter'>
    </div>
    
</div>
<div class="row">
    <div class="col-lg-6">
      <div class="header">
        <h3 class="header-title">Top Delegates</h3>
      </div>

      <div>
        <table style='width:100%' class="table table-striped table-hover">
          <thead>
            <tr style="text-transform: uppercase;">
              <th translate>th.name</th>
              <th translate>th.approval</th>
              <th translate>th.reliability</th>
              <th translate>th.blk_produced</th>
              <th class='hideableCol' translate>th.pay_rate</th>
              <th translate>th.approve</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="del in active_delegates | filter:search">
                <td><a class='delegate-link' href="#/accounts/{{del.name}}">{{ del.name }}</a></td>
              <td>
                <span ng-switch on='del.delegate_info.votes_for/current_xts_supply<0.0001' tooltip="Approval: {{ del.delegate_info.votes_for | formatVotes}}">
					<span ng-switch-when='true'>&#60;0.01%</span>
					<span ng-switch-default>{{ (del.delegate_info.votes_for)/current_xts_supply*100 | number:2 }}%</span>
				</span>
              </td>
              <td ng-switch on='del.delegate_info.blocks_produced>0 || del.delegate_info.blocks_missed>0'>
                <span ng-switch-when='true'>{{ del.delegate_info.blocks_produced/(del.delegate_info.blocks_produced + del.delegate_info.blocks_missed)*100 | number:2 }}%</span>
                <span ng-switch-default translate>unknown</span>
              </td>
              <td>{{ del.delegate_info.blocks_produced }}</td>
              <td class='hideableCol'>{{ del.delegate_info.pay_rate }}%</td>
              <td>
                <div class="btn-group">
                  <button ng-click="toggleVoteUp(del.name)" class="btn btn-xs btn-link ">
                    <i class="green" tooltip="{{(approved_delegates[del.name]) ? 'Click to disapprove' : 'Click to approve'}}"
                       ng-class="(approved_delegates[del.name]) ? 'fa fa-thumbs-up fa-2x' : 'fa fa-thumbs-o-up fa-2x'"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

      <div class="col-lg-6">
      <div>
        <div class="header">
          <h5 class="header-title">
            <small>Standby Delegates</small>
          </h5>
        </div>

        <div>
        <table class="table table-hover">
          <thead>
            <tr style="text-transform: uppercase;">
              <th translate>th.name</th>
              <th translate>th.approval</th>
              <th translate>th.reliability</th>
              <th translate>th.blk_produced</th>
              <th class='hideableCol' translate>th.pay_rate</th>
              <th translate>th.approve</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="del in inactive_delegates | filter:search">
                <td><a class='delegate-link' href="#/accounts/{{del.name}}">{{ del.name }}</a></td>
              <td>
                  <span ng-switch on='del.delegate_info.votes_for/current_xts_supply<0.0001' tooltip="Approval: {{ del.delegate_info.votes_for | formatVotes}}">
  					<span ng-switch-when='true'>&#60;0.01%</span>
  					<span ng-switch-default>{{ (del.delegate_info.votes_for)/current_xts_supply*100 | number:2 }}%</span>
  				</span>
              </td>
              <td ng-switch on='del.delegate_info.blocks_produced>0 || del.delegate_info.blocks_missed>0'>
                <span ng-switch-when='true'>{{ del.delegate_info.blocks_produced/(del.delegate_info.blocks_produced + del.delegate_info.blocks_missed)*100 | number:2 }}%</span>
                <span ng-switch-default translate>unknown</span>
              </td>
              <td>{{ del.delegate_info.blocks_produced }}</td>
              <td class='hideableCol'>{{ del.delegate_info.pay_rate }}%</td>
              <td>
                <div class="btn-group">
                  <button ng-click="toggleVoteUp(del.name)" class="btn btn-xs btn-link ">
                    <i class="green"
                       ng-class="(approved_delegates[del.name]) ? 'fa fa-thumbs-up fa-2x' : 'fa fa-thumbs-o-up fa-2x'"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      </div>
  </div>
