<div class="modal-header bg-danger">
  <h3 class="modal-title" translate>account.rename_account</h3>
</div>
<form ng-submit="ok()">
    <div class="modal-body">
        <div class="row">
            <div class='col-sm-4'>
                <img style='margin:0px;padding:0px' ng-src="http://robohash.org/set_1/{{m.newname}}?size=512x512" class="img-responsive"/>
            </div>

            <div class='col-sm-8'>
                <div>
                <input-name autofocus ng-model="m.newname" form-name="createaccount" show-note-1="false" show-note-2="false"/>
                </div>
                <br>
                <div class="lead">
                  {{ 'tip.rename_account_name_existed' | translate:'{value: m.oldname}' }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled='m.oldname == m.newname' translate>btn.ok</button>
        <button class="btn btn-warning" ng-click="cancel()" translate>btn.cancel</button>
    </div>
</form>