
<div class="modal-header bg-danger">
  <h3 class="modal-title" translate>mail.email</h3>
</div>

<div class="modal-body">
<div class="row">
<div class="col-xs-9">
    <!--from-->
    <div class="form-group">
        <label for="from" class="col-xs-2 control-label" translate>mail.sender</label>
        <div class="col-sm-10">
            <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" id="from" class="form-control btn btn-primary dropdown-toggle">{{email.sender}} <span class="caret"></span></button>
            </div>
        </div>
    </div>
    <!--to-->
    <div class="form-group">
        <label for="recipient" class="col-xs-2 control-label" translate>mail.recipient</label>
        <div class="col-sm-9">
            <div id="recipient" ng-bind="email.recipient" class="form-control"></div>
        </div>
        <!--arrow-->
        <div class="col-sm-1">
            <i class="fa fa-arrow-right"></i>
        </div>
    </div>
</div>
<div class="col-xs-3">
    <div class="pull-right">
        <img ng-src="http://robohash.org/set_1/{{email.recipient}}?size=100x100" height="100" width="100"/>
    </div>
</div>
</div><!--row-->

<div class="row"><div class="col-xs-12 alert alert-danger" ng-show="email.failure_reason">{{'mail.' + email.failure_reason | translate}}</div></div>

<b><div class="form-control" ng-bind="email.subject"></div></b>

<textarea readonly class="form-control" rows="5" ng-model="email.body" placeholder="{{ 'mail.body' | translate }}"></textarea>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()" translate>mail.close</button>
</div>