<!--<ol class="breadcrumb">-->
 <!--<li><i class="fa fa-home fa-fw"></i>Home</a></li>-->
 <!--<li><i class="fa fa-link fa-fw"></i> Block Explorer</li>-->
<!--</ol>-->
<div class="header">
  <div class="col-sm-12">
    <h3 class="header-title">{{ 'btn.edit' | translate }} {{currentName}}</h3>
  </div>
</div>
  <div id="edit-form">
      <div>
        <div class="well well-lg">
          <form class="form-horizontal" role="form" ng-submit="submitNameForm()">
            <div class="form-group">
            <!--
                <div class="col-sm-1">
                  <button type="button" class="btn btn-success" ng-click="noregistration = !noregistration">Registration</button>
                </div>-->
              <label for="name" class="col-sm-offset-1 col-sm-2 control-label">account.name</label>
              <div class="col-sm-5">
                  <input focus ng-model="newName" type="text" class="form-control" placeholder="Account Name"/>
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-success" type="submit" translate>account.rename_account_locally</button>
                </div>
              </div>
            </form>
        </div>
      </div>
          <div class="well well-lg">
          <h4 class="header-title" translate>account.public_info</h4>
          <form class="form-horizontal" role="form" ng-submit='register()'>
            <div class="form-group row">
              <label for="paywith" class="col-sm-3 control-label" translate>tip.pay_with_info</label>
              <div class="col-sm-5">
                  <input focus ng-model="paywith" id='paywith' type="text" class="form-control" placeholder="{{ 'account.pay_from' | translate }}"/>
                </div>
                <div class="col-sm-2">
                                <button class="btn btn-default" type="button" ng-click="delegate = !delegate"><i ng-class="{'true':'fa fa-check-square-o fa-lg fa-fw','false':'fa fa-square-o fa-lg fa-fw'}[delegate]"></i> {{ 'tip.reg_as_delegate' | translate }}</button>
              </div>
            </div>
            <div collapse="!delegate">
              <div class="well well-lg">
                <h4 class="header-title" translate>account.delegate_info</h4>
                                {{ 'tip.reg_delegate_tip' | translate}}
              </div>
            </div>
            <!--<div class="form-group row">-->
              <!--<label for="email" class="col-sm-3 control-label">Email</label>-->
              <!--<div class="col-sm-5">-->
                  <!--<input focus ng-model="email" type="text" class="form-control" placeholder="Email"/>-->
                <!--</div>-->
              <!--</div>-->
              <div class="form-group row">
                <label for="website" class="col-sm-3 control-label" translate>account.website</label>
              <div class="col-sm-5">
                  <input focus ng-model="website" type="text" class="form-control" placeholder="{{ 'account.website' | translate }}"/>
                </div>
              </div>
            <div ng-repeat="pair in pairs">
                <div class="form-group row">
                <div class="col-sm-offset-1 col-sm-2">
                    <input focus type="text" ng-model="pair.key" class="form-control" placeholder="{{ 'account.key' | translate }}"/>
                  </div>
                <div class="col-sm-5">
                    <input focus type="text" ng-model="pair.val" class="form-control" placeholder="{{ 'account.value' | translate }}"/>
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-warning" ng-click="removeKeyVal($index)"><i class="fa fa-times fa-fw"></i></button>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-offset-1 col-sm-2">
                  <button type="button" class="btn btn-success" ng-click="addKeyVal()"><i class="fa fa-plus fa-fw"></i> {{ 'account.add_field' | translate }}</button>
                </div>
              </div>
              <div class="form-group row">
              <div class="col-sm-offset-3 col-sm-3">
                <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-credit-card fa-lg fa-fw"></i> {{'btn.register'|translate}} {{currentName}}</button>
              </div>
            </div>

        </form>
          </div>



      <div class="form-group well well-lg">
        <div class="form-group row">
          <div class="col-sm-2">
              <h4 class="header-title" translate>account.private_data</h4>
            </div>
            <div class="col-sm-offset-1 col-sm-3">
              <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-refresh fa-lg fa-fw"></i> {{ 'account.update_local_info' | translate }}</button>
            </div>
          </div>
        <div class="form-group row">
          <div class="col-sm-12">
              <textarea focus ng-model="notes" type="text" rows="8" class="form-control" placeholder="{{ 'tip.account_note_can_be_blank' | translate }}"></textarea>
            </div>
          </div>
      </div>
  </div>
