<div class='row'>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-11">
        <form class="form-horizontal" role="form" ng-submit="changeName()">
            <div class="form-group m-top">
                <div class="form-group row">
                    <label for="name" class="col-sm-1 control-label" translate>account.name</label>
                    <div class="col-sm-6">
                        <input-name ng-model="model.newName"/>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-check fa-lg"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr style="margin:0px">
<h2 translate>account.private_data</h2>
<div class='row'>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-11">
        <form class="form-horizontal" role="form" name="wform" ng-submit="submitEditAccount()" ng-class="{ 'has-error' : wform.wp.$invalid && !wform.wp.$pristine }">
            <div class="form-group m-top">
                <!--<div class="form-group row">-->
                    <!--<label for="email" class="col-sm-1 control-label" translate>email</label>-->
                    <!--<div class="col-sm-6">-->
                        <!--<input ng-model="edit.newemail" type="text" class="form-control" placeholder="Optional Email"/>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group row">
                    <label for="website" class="col-sm-1 control-label" translate>account.website</label>
                    <div class="col-sm-6">
                        <input focus ng-model="edit.newwebsite" type="text" class="form-control" placeholder="{{'account.website_tip'|translate}}"/>
                    </div>
                </div>
                <div ng-repeat="pair in edit.pairs">
                    <div class="form-group row">
                        <div class="col-sm-1">
                            <input focus type="text" ng-model="pair.key" class="form-control" placeholder="{{'account.key'|translate}}"/>
                        </div>
                        <div class="col-sm-6">
                            <input focus type="text" ng-model="pair.val" class="form-control" placeholder="{{'account.value'|translate}}"/>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-warning" ng-click="removeKeyVal($index)"><i class="fa fa-times fa-fw"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-1 col-sm-2">
                        <button type="button" class="btn btn-success" ng-click="addKeyVal()"><i class="fa fa-plus fa-fw"></i> {{ 'account.add_field' | translate}}</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-1 col-sm-2">
                        <button class="btn btn-primary" type="submit" translate>btn.save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
