<div class="pull-left logo" ng-click="profile_toggle()">
    <img src="/img/logo-ico.svg" height="64"/>&nbsp;
</div>
<div class="pull-left">
  {{blockchain_name}}
</div>
<div class="pull-left">
    <span>{{message}}&nbsp;{{scan_progress_info}}</span> &nbsp;
    <span ng-if="transaction_scanning_disabled"><a ng-click="enable_transaction_scanning()" translate>footer.enable_trx_scan</a></span>
</div>
<div class="pull-left" ng-if="show_version_warning">
  {{'footer.version_warning' | translate:show_version_warning_td}}
</div>
<div class="pull-right">
  <span tooltip="{{alert_level_tip}}"><b>{{alert_level_msg}}</b><span ng-show="alert_level_msg"> | </span></span>
    <span> {{blockchain_last_sync_info}} </span>
  <span class="blockchain-status icon" ng-switch on="blockchain_status">
    <span tooltip="{{'footer.up_to_date'|translate:blockchain_status_td}}">
      <i class="fa fa-check" ng-switch-when="synced"></i>
    </span>
    <i class="fa fa-refresh fa-spin" ng-switch-when="syncing" tooltip="{{'footer.catching_up'|translate:blockchain_status_td}}"></i>
    <i ng-switch-default></i>
  </span>
  <span class="icon" tooltip="{{connections_str}}">
    <svg height="16" width="16" version="1.1" xmlns="http://www.w3.org/2000/svg" class="{{connections_class}}">
      <g class="connection" transform="translate(-61.0002,-257)">
        <path class="bar-4" d="m 73,257 0,1.5 0,12 0,1.5 3,0 0,-1.5 0,-12 0,-1.5 -3,0 z" fill="#999"/>
        <path class="bar-3" d="m 69,260 0,1.5 0,9  0,1.5 3,0 0,-1.5 0,-9  0,-1.5 -3,0 z" fill="#999"/>
        <path class="bar-2" d="m 65,263 0,1.5 0,6  0,1.5 3,0 0,-1.5 0,-6  0,-1.5 -3,0 z" fill="#999"/>
        <path class="bar-1" d="m 61,266 0,1.5 0,3  0,1.5 3,0 0,-1.5 0,-3  0,-1.5 -3,0 z" fill="#999"/>
      </g>
      <g class="no-connection">
        <line x1="0" y1="15" x2="15" y2="2" stroke="black" stroke-width="1"/>
        <line x1="15" y1="2" x2="15" y2="15" stroke="black" stroke-width="1"/>
        <line x1="15" y1="15" x2="0" y2="15" stroke="black" stroke-width="1"/>
     </g>
    </svg>
  </span>
</div>

<div id="syncprogress" class="progress" ng-show="show_progress" tooltip="Blockchain synchronization progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{percent_synced}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_synced}}%;">
        {{percent_synced}}%
    </div>
</div>