<div class="pull-left logo">
    <img src="/img/xt-icon.png" />
</div>
<p class="pull-left">
    <span>{{message}}</span>
</p>
<p class="pull-right m-bottom">
	<span><b>{{alert_level_msg}} </b>| </span>
    <span> {{blockchain_last_sync_info}} </span>
	<span class="blockchain-status " ng-switch on="blockchain_status">
		<i class="fa fa-check" ng-switch-when="synced"
       tooltip="Up&nbsp;to&nbsp;date,&nbsp;processed&nbsp;{{blockchain_last_block_num}}&nbsp;blocks"
       tooltip-placement="left"></i>
		<i class="fa fa-refresh fa-spin" ng-switch-when="syncing"
       tooltip="Catching up..&nbsp;processed&nbsp;{{blockchain_last_block_num}}&nbsp;out&nbsp;of&nbsp;{{blockchain_last_block_num + blockchain_blocks_behind}}"
       tooltip-placement="left"></i>
		<i ng-switch-default></i>
	</span>
	<img class="connections" ng-src="{{connections_img}}" alt="network connections"
       tooltip="{{connections_str}}"
       tooltip-placement="left"
       height="24" width="24"/>
</p>
