<div class="col-sm-12">
    <div class="header">
      <h3 class="header-title" translate>help.title</h3>
    </div>
</div>

<div class="main-content">
<div class="row">
  <div class='col-sm-12'>
    <span translate>help.console_intro</span>
    <h3 translate>help.valid_names</h3>
    <span translate>help.valid_names_intro</span>
    <hr>
    <h3 translate>help.network_issues</h3>
    <h4 translate>help.caution</h4>
    <b translate>help.caution</b> <span translate>help.low_participation_rate_80</span>
    <h4 translate>help.severe_network_issue</h4>
    <b translate>help.severe_network_issue</b> <span translate>help.low_participation_rate_60</span>
    <hr>
    <h3 translate>help.about</h3>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <td>Client version</td>
                <td>{{client_version}}</td>
            </tr>
      <tr ng-repeat="(key, value) in about">
        <td> {{key}} </td> <td> {{ value }} </td>
      </tr>
        </tbody>
    </table>
  </div>
</div>
</div>