<div class="main-content">
  <div class="row">
    <div class="panel col-md-12">
      <div class="panel-heading">
        <div class="header">
          <div class="pull-right ">
            <a class="btn btn-primary btn-success btn-top-right" ui-sref="accounts"><i class="fa fa-bank fa-fw"></i> {{ 'index.my_account' | translate }}</a>
          </div>
          <h3 class="header-title" translate>account.recent_trxs</h3>
          <p class="header-info" translate>account.recent_trxs_info</p>
        </div>
        <div class="panel-body">
          <div ng-controller="TransactionsController" ng-include src="'transactions.html'"></div>
        </div>
      </div>
    </div>
  </div>

</div>
