<div class="main-content">
  <div class="row">
    <div class="col-md-3">

      <div class="panel bg-default">
        <div class="panel-heading">
          <h3 class="panel-title text-muted" translate>index.daily_income</h3>
        </div>
        <div class="panel-body ">

          <ul class="col-md-12 stats">
            <li class="stat">
              <span><b>{{daily_income}}</b></span>
            </li>

            <li class="stat">
              <span>{{income_apr}} APR </span>
            </li>

          </ul>
        </div>

      </div>
    </div>
    <div class="col-md-3">

      <div class="panel bg-default">
        <div class="panel-heading">
          <h3 class="panel-title text-muted" translate>index.daily_expense</h3>
        </div>
        <div class="panel-body ">

          <ul class="col-md-12 stats">

            <li class="stat">
              <span><b>{{daily_expenses}}</b></span>
            </li>

            <li class="stat">
              <span>{{expenses_apr}} APR </span>
            </li>

          </ul>
        </div>

      </div>
    </div>
    <div class="col-md-3">

      <div class="panel bg-default">
        <div class="panel-heading">
          <h3 class="panel-title text-muted" translate>index.daily_burn</h3>
        </div>
        <div class="panel-body ">

          <ul class="col-md-12 stats">
            <li>
              <span><b>{{daily_burn}}</b></span> <em></em>
            </li>
            <li>
              <span>{{burn_apr}} APR</span> <em> </em>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-md-3 ">
      <div class="panel">
        <div class="panel-body">
          <a href="#/create/account">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding-bottom: 6px;">
              <div style="font-size: 400%; font-weight: 100;"><i class="fa fa-plus-circle"></i></div>
              <span class="pie-title" translate uppercase>accounts.create_account</span>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="panel col-md-12">
      <div class="panel-heading">
        <div class="header">
          <div class="pull-right ">
            <a class="btn btn-primary btn-success btn-top-right" ui-sref="accounts"><i class="fa fa-bank fa-fw"></i> {{ 'index.my_account' | translate }}</a>
          </div>
          <h3 class="header-title" translate>account.recent_trxs</h3>
          <p class="header-info" translate>account.recent_trxs_info</p>
        </div>
        <div class="panel-body">
          <div ng-controller="TransactionsController" ng-include src="'transactions.html'"></div>
        </div>
      </div>
    </div>
  </div>

</div>