<div class="row p-inner">
  <div class="col-sm-12">
    <div class="header">
      <h3 class="header-title" translate>asset.issue_assets</h3>
      <p class="header-info" translate>asset.issue_assets_info</p>
    </div>
  </div>
</div>
<div class="row m-top">
  <div class="col-md-6">
    <form name="issue_asset_form" class="form-horizontal" role="form" ng-submit="issue_asset_form.$valid && issue()" novalidate>
      <!--asset-->
      <div form-hgroup label="{{'asset.symbol'|translate}}">
        <select name="asset" class="form-control" id='issue_asset.symbol' ng-model="issue_asset.asset"
                ng-init="issue_asset.symbol = issue_asset.symbol || $parent.my_symbols[0]"
                ng-options="asset.symbol for asset in assets"></select>
      </div>
      <!--amount-->
      <div form-hgroup label="{{'asset.amount'|translate}}">
        <input-positive-number name="amount" ng-model="issue_asset.amount" required="true"/>
      </div>
      <!--to-->
      <div class="form-group" ng-class="{ 'has-error': has_error }">
        <label class="col-sm-4 control-label" for="issueto"><span translate>asset.issue_to</span></label>
        <div class="input-group col-sm-8 col-md-7">
          <input id="issueto" name="issueto" ng-model="issue_asset.to" type="text" class="form-control"
               ng-maxlength="63" ng-pattern="/[a-z]+(?:\-*[a-z0-9])*$/" required/>
        <span ng-click='newContactModal()' type="button" class="input-group-addon btn white btn-success ng-scope" translate>
            contact.address_book
        </span>
        </div>
      </div>
      <!--public -->
      <div form-hgroup label="{{'asset.memo_data'|translate}}">
        <input name="memo" ng-model="issue_asset.memo" type="text" class="form-control"
                   ui-validate="{valid_memo: 'utils.byteLength($value) <= memo_size_max'}"/>
      </div>
      <!--Submit-->
      <div form-hgroup-error></div>
      <button form-hgroup-submit-btn>
        <span translate>asset.btn_issue</span>
      </button>
    </form>
  </div>
  <div class="col-md-6">&nbsp;</div>
</div>
