<div class="container-fluid">
  <div class="modal-header">
    <h3 class="modal-title" translate>contact.new_contact</h3>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="avatar">
        <img ng-src="http://robohash.org/set_1/{{account.name}}?size=100x100" height="100" width="100" ng-if="account.name"/>
        <img src="img/user.png" height="100" width="100" ng-if="!account.name"/>
      </div>
    </div>
    <div class="col-md-10">
      <form class="newcontact-modal-form" name="newcontact" role="form" ng-submit="ok()" novalidate>
        <div form-vgroup label="{{'contact.contact_name'|translate}}" help="{{'directive.input_name.note2'|translate}}" help-if="true">
          <input-account-name name="account_name" autofocus ng-model="account.name"/>
        </div>
        <div form-vgroup label="{{'contact.public_key'|translate}}">
          <input ng-model="account.key" name="account_key" class="form-control"/>
        </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!newcontact.$valid" ng-click="ok()">&nbsp; <span
            translate>btn.ok</span> &nbsp;</button>
        <button class="btn btn-warning" ng-click="cancel()"><span translate>btn.cancel</span></button>
      </div>
    </div>
  </div>
</div>
