<div class="col-sm-12">
  <div class="header">
    <h3 class="header-title" translate>contact.new_contact</h3>
  </div>
</div>

<div class="row">

    <div class="col-sm-3 m-top">
      <div class="avatar col-lg-offset-3 col-md-offset-2">
        <identicon account="{{data.account_name}}" size="150" tooltip="Your identicon is a security feature that helps you verify account names visually"/>
      </div>
    </div>

    <div class="col-sm-6">
      <form name="newcontact" class="m-top" role="form" ng-submit="newcontact.$valid && createContact()" novalidate>
        <div form-vgroup label="{{'account.name'|translate}}" help="{{'directive.input_name.note2'|translate}}" help-if="true">
          <input-account-name name="account_name" autofocus ng-model="data.account_name" show-extra-note="true"/>
        </div>
        <div form-vgroup label="{{'contact.public_key'|translate}}">
          <input ng-model="data.address" name="address" class="form-control"/>
        </div>
        <button ng-disabled="!newcontact.$valid" class="btn btn-primary" type="submit" translate>contact.btn_add_contact</button>
      </form>
    </div>

</div>
