<div class="col-sm-12">
  <div class="header">
    <h3 class="header-title" translate>accounts.recover_account</h3>
  </div>
</div>

<div class="container1">
  <div class="row">
    <div class="col-sm-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-2 avatar-150-min-width">
      <div class="avatar-150 text-center">
        <identicon account="{{f.name}}" size="150" tooltip="Your identicon is a security feature that helps you verify account names visually"/>
      </div>
    </div>

    <div class="col-sm-5">
      <form name="recoveraccount" role="form" ng-submit="recoverAccount()" novalidate>
        <div form-vgroup label="{{'account.name'|translate}}" help="{{'directive.input_name.note3'|translate}}" help-if="true">
          <input-account-name name="account_name" autofocus ng-model="f.name"/>
        </div>
        <button ng-disabled="!recoveraccount.$valid" class="btn btn-primary" type="submit" translate>accounts.recover_account</button>
      </form>
    </div>

  </div>
</div>