<div class="col-sm-12">
  <div class="header">
    <h3 class="header-title">Redeem Coupon</h3>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-8">

      <form name="redeem_coupon" class="form-horizontal m-top" role="form" ng-submit="redeem()" novalidate>
        <!-- code -->
        <div form-hgroup label="Coupon Code">
          <div class="input-group">
          <input ng-model="coupon.code" ng-change="code_changed()" name="coupon" class="form-control" required/>
          <span ng-if="coupon.ok" class="input-group-addon label-success"><i class="fa fa-check"></i> {{ coupon.amount }}</span>
          <span class="help-block text-danger" ng-show="coupon.error">{{coupon.error}}</span>
          </div>
        </div>
        <!-- faucet -->
        <div form-hgroup label="Faucet domain or URL">
          <input ng-model="coupon.faucet_url" name="faucet_url" class="form-control" required/>
        </div>
        <!-- to -->
        <div form-hgroup label="To Account">
          <div class="input-group-btn" dropdown is-open="status.isopen">
            <button type="button" class="btn dropdown-toggle">{{coupon.to}} <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="a in accounts">
                <a ng-click="coupon.to = a; status.isopen=false">{{a}}</a>
              </li>
            </ul>
          </div>
        </div>
        <!--Submit-->
        <div form-hgroup-error></div>
        <button form-hgroup-submit-btn>Redeem Coupon</button>
      </form>

    </div>

    <div class="col-sm-4">&nbsp;</div>

  </div>
</div>