 <div class="modal-header">
  <h3 class="modal-title">Register {{account.name}}</h3>
 </div>
 <form role="form" ng-submit="ok()">
 <div class="modal-body">
  registration fee TODO XTS<br>
  <div class="form-group">
   <label for="contact_address">Pay with</label>
   <input ng-model="payWith" class="form-control" id="contact_address" placeholder="Account">
  </div>
  <select ng-model="payfrom" type="text" class="form-control" placeholder="Account Name" id="payfrom" ng-options="account | formatAccountBalance for account in accounts | filter:symbol" required></select>
 </div>
 </form>
 <div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok(payWith)">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
 </div>
