<ul class="nav navbar-nav left-panel">
    <li><a class="pointer" ng-click="back()"><i class="fa fa-arrow-left"></i>Back</a></li>
    <li ng-class="{active: current_path_includes('transfer')}"><a ui-sref="transfer"><i class="fa fa-sign-out fa-fw fa-lg"></i>Transfer</a></li>
    <li><a class="pointer" ng-click="newContactModal()"><i class="fa fa-plus fa-fw fa-lg"></i>Add Contact</a></li>
</ul>

<ul class="nav navbar-nav pull-right">
    <li><a href="#">Link</a></li><li><a href="#">Link 2</a></li>
</ul>
