<!--<ol class="breadcrumb">-->
 <!--<li><i class="fa fa-home fa-fw"></i>Home</a></li>-->
 <!--<li><i class="fa fa-sign-out fa-fw"></i> Transfer</li>-->
<!--</ol>-->

<div class="header">
 <div class="col-md-12">
     <!--<h3 class="header-title">Transfer</h3>-->
 </div>
</div>

<div class="main-content">

	

 <div id="transfer-form">
  <form class="form-horizontal" role="form" ng-submit="send()">
  	<!--
  	<div class="form-group row">
  		<label for="payfrom" class="col-sm-2 control-label">From</label>
        <span class="dropdown">
	      <a href class="dropdown-toggle btn btn-default col-md-5">
	        Click me for a dropdown, yo!<span class="caret"></span>
	      </a><br>
	      <ul class="dropdown-menu">
	        <li ng-repeat="account in accounts">
	          <a href>{{account}}</a>
	        </li>
	      </ul>
	    </span>
     </div>-->


    <div class="form-group row">
        <label for="amount" class="col-sm-2 control-label">Amount</label>
	    <div class="col-md-3">
	    	<input ng-model="amount" type="text" class="form-control" placeholder="0.0" id="amount"/>
	    </div>
      	<div class="col-md-2">
        	<select class="form-control" id='symbol' ng-model="symbol" ng-options="symbol for symbol in symbolOptions"></select>
      	</div>
     </div>


    <div class="form-group">
      <label for="payfrom" class="col-sm-2 control-label">From</label>
      <div class="col-md-5">
        <select ng-model="payfrom" type="text" class="form-control" placeholder="Account Name" id="payfrom" ng-options="account | formatAccountBalance for account in accounts | filter:symbol"></select>
      </div>
    </div>

   <div class="form-group">
    <label for="payto" class="col-sm-2 control-label">To</label>

    <div class="col-md-5">
     <input ng-model="payto" type="text" class="form-control" placeholder="Contact Name" id="payto"/>
    </div>
   </div>



   <div class="form-group">
    <label for="memo" class="col-sm-2 control-label">Memo</label>
    <div class="col-md-5">
     <input ng-model="memo" type="text" class="form-control" placeholder="Memo" id="memo"/>
    </div>
   </div>
		<div class="form-group row">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-credit-card fa-lg fa-fw"></i> Send</button>
			</div>
		</div>
  </form>
 </div>

</div>

</div>
