<div class="header">
    <div class="col-sm-4">
        <h4>Transaction #{{id.substr(0, 8)}}</h4>
	</div>
    <div class="col-sm-4">
        <h4>Block <a href="#/blocks/{{t.chain_location.block_num}}">#{{t.chain_location.block_num}}</a><span ng-if="prev_trx_num != -1">, prev <a href="#/tx/{{prev_trx_id}}">#{{prev_trx_num}}</a></span> , transaction #{{t.chain_location.trx_num}} <span ng-if="next_trx_num != -1">, next <a href="#/tx/{{next_trx_id}}">#{{next_trx_num}}</a></span></h4>
	</div>
    <div class="col-sm-4">
        <h4>Timestamp: {{ t.timestamp | prettyDate  }} </h4>
	</div>
</div>

<hr>

<div class="main-content">

    <div id="tx-{{ id.substr(0,8) }}" >
        <table class="table table-striped">
            <tbody>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left">Deposits</span>
                </td>
            </tr>
            <tr ng-repeat="i in t.deposits">
                <td></td>
                <td></td>
                <td></td>
                <td>{{ i[1] | toAsset | formatAsset }}</td>
            </tr>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left">Withdraws</span>
                </td>
            </tr>
            <tr ng-repeat="o in t.withdraws">
                <td></td>
                <td></td>
                <td></td>
                <td>{{ o[1] | toAsset | formatAsset }}</td>
            </tr>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left">Fee</span>
                </td>
            </tr>
            <tr ng-repeat="b in t.balance">
                <td></td>
                <td></td>
                <td></td>
                <td ng-init="fee = {'amount': b[1], 'asset_id': b[0]}">{{ fee | toAsset | formatAsset }}</td>
            </tr>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left">Net Delegate Vote Update</span>
                </td>
            </tr>
            <tr ng-repeat="vote in t.net_delegate_votes">
                <td>Delegate:&nbsp;<a href="#/accounts/{{vote[0] | delegateName}}">{{ vote[0] | delegateName }}</a></td>
                <td>Vote For Change:&nbsp;{{ {"amount": vote[1].votes_for, "asset_id":0 } | toAsset | formatAsset }}</td>
                <td>Vote Against Change:&nbsp;{{ {"amount": vote[1].votes_against, "asset_id":0 } | toAsset | formatAsset }}</td>
                <td>Total Vote Change:&nbsp;{{ {"amount": vote[1].votes_for - vote[1].votes_against, "asset_id": 0 } | toAsset | formatAsset }}</td>
            </tr>
        </tbody>
        </table>
        <div class="col-sm-12">
            <h4>Operations:</h4>
        </div>
        <div ng-repeat="op in t.trx.operations">
            <operation-div>{{content}}</operation-div>
        </div>
    </div>
</div>
