<div ng-switch="no_account">
<div ng-switch-when="true">
  <div class="row">
    <p class="no-account-selected-note" translate>tip.account_not_found</p>
  </div>
</div>
<div ng-switch-default>

<div class="row head-bg account-page">
  <div class="col-sm-2 avatar-150-min-width">
    <div class="avatar-150 text-center">
      <identicon account="{{account_from.name}}" size="150"/>
      <account-name-with-id name="account_from.name" account-id="account_from.id"></account-name-with-id>
    </div>
    <br/>
  </div>
  <div class="col-sm-6">
    <div class="header">
      <div class="p-inner">
        <span class="account-from"><span translate>account.from</span>:</span>
        <div class="btn-group" dropdown is-open="status.isopen1">
          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>{{account_from.name}} <span class="caret"></span></button>
          <ul class="dropdown-menu scrollable-menu-short"  role="menu">
            <li ng-repeat="account in my_accounts">
              <a ui-sref="transfer({from: account.name})">{{account.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
          <table class="table table-acc-balance">
              <thead>
              <tr>
                  <th><h3 class="header-title text-muted" translate>account.balances</h3></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="(symbol, asset) in balances">
                  <td>
                      {{asset | formatAsset}}
                  </td>
              </tr>
              </tbody>
          </table>
  </div>
</div>

<br/>

<div class="row m-top">
  <div class="col-sm-2 avatar-150-min-width">
    <div class="avatar-150 text-center">
      <identicon account="{{gravatar_account_name}}" size="150"/>
        <account-name-with-id ng-show="gravatar_account_name" name="gravatar_account_name" account-id="transfer_info.payto_account_id" registration-date="account_registration_date"></account-name-with-id>
        <button ng-show="transfer_info.payto && !transfer_info.unknown_account && !is_address_book_contact && !add_to_address_book.error" ng-click="addToAddressBook()" class="add-to-address-book btn btn-primary btn-sm outline">
          <span translate>contact.add_to_address_book</span>
        </button>
        <span ng-show="add_to_address_book.error" class="text-danger">{{add_to_address_book.error}}</span>
        <span ng-show="add_to_address_book.message" class="text-success">{{add_to_address_book.message}}</span>
        <span ng-show="is_my_account" class="text-success" translate>account.your_account</span>
    </div>
  </div>
  <div class="col-sm-10" id="transfer-form">
    <form name="my_transfer_form" class="form-horizontal" role="form" ng-submit="send()" novalidate>
      <div ng-init="setForm(my_transfer_form)"></div>
      <div class="form-group row" ng-class="{ 'has-error' : (my_transfer_form.amount.$invalid || my_transfer_form.amount.error_message) && !my_transfer_form.amount.$pristine}">
        <!-- amount -->
        <label for="amount" class="col-sm-1 control-label" translate>account.amount</label>
        <div class="col-sm-4" ng-if="balances">
          <div class="input-group">
            <input class="form-control" ng-model="transfer_info.amount" name="amount"
                type="text" class="form-control" placeholder="0.0" id="amount"
                ui-validate="'$value > 0'" ng-change="hot_check_send_amount()"
                autocomplete="off" required/>
            <!-- asset selector -->
            <div class="input-group-btn" dropdown is-open="status.isopen">
              <button type="button" class="btn dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                <span ng-show="transfer_info.symbol">{{transfer_info.symbol}}</span>
                <span ng-show="!transfer_info.symbol" translate>account.select_currency</span>
                <span ng-show="currencies.length > 1" class="caret"></span>
              </button>
              <ul ng-if="currencies.length > 1" class="dropdown-menu scrollable-menu-extra-short" role="menu">
                <li ng-repeat="c in currencies" ng-show="c">
                  <a ng-click="transfer_info.symbol = c; status.isopen=false">{{c}}</a>
                </li>
              </ul>
            </div>
           </div>
        </div>
        <div class="col-sm-4" ng-if="!balances && refreshing_balances"><i class="fa fa-spinner fa-spin"></i></div>
        <div class="col-sm-4" ng-if="!balances && !refreshing_balances"><span class="cell text-danger" translate>market.tip.insufficient_balances</span></div>

        <!-- vote options -->
        <div ng-show="transfer_info.show_vote_options" class="col-md-2" ng-show="transfer_info.symbol == 'XTS' || transfer_info.symbol == 'BTS' || transfer_info.symbol == 'DVS'">
          <div class="btn-group" dropdown is-open="status2.isopen">
            <button type="button" class="btn dropdown-toggle" dropdown-toggle tooltip="{{ 'account.vote.vote_for' | translate }}">
              {{ ('account.vote.' + vote_options[transfer_info.vote]) | translate }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="(k, v) in vote_options">
                <a ng-click="transfer_info.vote=k; status2.isopen=false">{{ ('account.vote.' + v) | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group row transfer-amount-error" ng-show="(my_transfer_form.amount.$invalid && !my_transfer_form.amount.$pristine) || my_transfer_form.amount.error_message">
        <div class="col-sm-offset-1 col-sm-4">
          <span class="help-block text-danger" translate ng-hide="my_transfer_form.amount.error_message">tip.wrong_amount</span>
          <span class="help-block text-danger">{{my_transfer_form.amount.error_message}}</span>
        </div>
      </div>
      <!-- pay to -->
      <div class="form-group row" ng-class="{ 'has-error' : (my_transfer_form.payto.$invalid || my_transfer_form.payto.error_message) && !my_transfer_form.payto.$pristine}">
        <label for="payto" class="col-sm-1 control-label" translate>account.to</label>
        <div class="col-md-6 col-sm-10">
          <div class="input-group" style="width: 100%;">
            <input ng-model="transfer_info.payto" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 600, 'blur': 0} }" name="payto" type="text"
                   class="form-control" placeholder="{{ 'contact.contact_name' | translate }}" id="payto"
                   typeahead="state for state in accountSuggestions($viewValue)"
                   typeahead-append-to-body='true' typeahead-on-select="onSelect($item)" typeahead-template-url='to_typeahead.html' ng-maxlength="63"
                   required ng-change="payToChanged()" ng-pattern="/^([a-zA-Z0-9\-\.]+)$/"/>
            <span ng-click='newContactModal()' type="button" class="input-group-addon btn white btn-success" translate>contact.address_book</span>
          </div>
          <span class="help-block text-danger" ng-show="my_transfer_form.payto.error_message">{{my_transfer_form.payto.error_message}}</span>
        </div>
      </div>
      <!-- memo -->
      <div class="form-group" ng-class="{ 'has-error' : my_transfer_form.memo.$invalid && !my_transfer_form.payto.$pristine}">
        <label for="memo" class="col-sm-1 control-label" translate>account.memo</label>
        <div class="col-md-6 col-sm-10">
          <input ng-model="transfer_info.memo" name="memo" type="text" class="form-control"
                 ui-validate="{valid_memo: 'utils.byteLength($value) <= memo_size_max'}" placeholder="{{ 'account.memo' | translate }}" id="memo"/>
          <span class="help-block text-danger" ng-show="my_transfer_form.memo.$invalid && my_transfer_form.memo.$dirty" translate translate-values="{value: memo_size_max}">tip.memo_size_exceeds</span>
        </div>
      </div>
      <!-- send -->
      <div class="form-group row">
        <div class="col-sm-offset-1 col-sm-10">
          <button type="submit" class="btn btn-primary" ng-disabled="!my_transfer_form.$valid || !transfer_info.symbol || my_transfer_form.payto.error_message">
            &nbsp; <span translate>account.send</span> &nbsp;
          </button>
          <span class="help-block" ng-show="balance_after_transfer">
               {{'account.new_balance' | translate }}: {{balance_after_transfer | formatDecimal: balance_precision}} {{transfer_asset.symbol}} ({{'account.less_fee' | translate }} {{ fee+ ' '+tx_fee_asset.symbol }})
          </span>
        </div>
      </div>
    </form>
  </div>
</div>


</div>
</div>


