<!--<ol class="breadcrumb">-->
<!--<li><i class="fa fa-home fa-fw"></i>Home</a></li>-->
<!--<li><i class="fa fa-exchange fa-fw"></i> Transaction History</li>-->
<!--</ol>-->
<!--
<div class="header">
	<div class="col-sm-12">
		<h3 class="header-title">Transactions</h3>
	</div>
</div>
-->

<div class="main-content">

	<div id="transaction_history">
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th>DATE</th>
				<th>FROM</th>
				<th>TO</th>
				<th>MEMO</th>
				<th>AMOUNT</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="t in transactions">
                <td>{{ t.time | prettyDate }}</td>
				<td><a href="#/accounts/{{t.from}}">{{ t.from }}</a></td>
                <td><a href="#/contacts/{{t.to}}">{{ t.to }}</a></td>
				<td>{{ t.memo }}</td>
				<td>{{ t.amount | formatAsset }}</td>
			</tr>
			</tbody>
		</table>
	</div>

</div>

