<div class="header">
    <div class="col-sm-4">
        <h4>{{'block.trx.transaction'|translate}} #{{id.substr(0, 8)}}</h4>
  </div>
    <div class="col-sm-4">
        <h4>{{'block.title'|translate}} <a href="#/blocks/{{t.chain_location.block_num}}">#{{t.chain_location.block_num}}</a><span ng-if="prev_trx_num != 0">, {{'block.trx.prev'|translate}} <a href="#/tx/{{prev_trx_id}}">#{{prev_trx_num}}</a></span> , {{'block.trx.transaction'|translate}} #{{t.chain_location.trx_num}} <span ng-if="next_trx_num != -1">, {{'block.trx.next'|translate}} <a href="#/tx/{{next_trx_id}}">#{{next_trx_num}}</a></span></h4>
  </div>
    <div class="col-sm-4">
        <h4>{{'block.timestamp'|translate}}: {{ t.timestamp | prettyDate  }} </h4>
  </div>
</div>

<hr>

<div class="main-content">

    <div id="tx-{{ id.substr(0,8) }}" >
        <table class="table table-striped">
            <tbody>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left" translate>block.trx.deposits</span>
                </td>
            </tr>
            <tr ng-repeat="i in t.a_deposits">
                <td></td>
                <td></td>
                <td></td>
                <td>{{ i | formatAsset }}</td>
            </tr>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left" translate>block.trx.withdraws</span>
                </td>
            </tr>
            <tr ng-repeat="o in t.a_withdraws">
                <td></td>
                <td></td>
                <td></td>
                <td>{{ o | formatAsset }}</td>
            </tr>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left" translate>block.trx.fee</span>
                </td>
            </tr>
            <tr ng-repeat="b in t.balance">
                <td></td>
                <td></td>
                <td></td>
                <td>{{ b[2] | formatAsset }}</td>
            </tr>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left" translate>block.trx.net_delegate_approval_update</span>
                </td>
            </tr>
            <tr ng-repeat="vote in t.net_delegate_votes">
                <td>{{'delegate.title'|translate}}:&nbsp;<a href="#/accounts/{{ vote[3] }}">{{ vote[3] }}</a></td>
                <td>{{'block.trx.approval_change'|translate}}:&nbsp;{{ vote[2] | formatAsset }}</td>
            </tr>
        </tbody>
        </table>
        <div class="col-sm-12">
            <h4 translate>block.trx.operations</h4>
        </div>
        <div ng-repeat="op in t.trx.operations">
            <operation-div>{{content}}</operation-div>
        </div>
    </div>
</div>
