<!--<ol class="breadcrumb">-->
<!--<li><i class="fa fa-home fa-fw"></i>Home</a></li>-->
<!--<li><i class="fa fa-exchange fa-fw"></i> Transaction History</li>-->
<!--</ol>-->
<!--
<div class="header">
	<div class="col-sm-12">
		<h3 class="header-title">Transactions</h3>
	</div>
</div>
-->

	<div id="transaction_history">
				<div class="panel">
				    <div class="panel-heading">
				    </div>
				        				    
				    <div class="panel-body">
					<table class="table table-striped table-hover">
						<thead>
						<tr>
							<th>DATE</th>
							<th>FROM</th>
							<th>TO</th>
							<th>MEMO</th>
							<th>AMOUNT</th>
							<th>FEE</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="t in account_transactions | orderBy:'time':true" ng-if="!pending_only || t.block_num == 0">
                            <td ng-if="t.block_num != 0">{{ t.time | prettyDate }}</td>
                            <td ng-if="t.block_num == 0">Pending</td>
							<td><p class="long-shorten-text-l"><a href="#/accounts/{{t.from}}">{{ t.from }}</a></p></td>
			                <td><p class="long-shorten-text-l"><a href="#/accounts/{{t.to}}">{{ t.to }}</a></p></td>
                            <td><a href="#/tx/{{t.id}}">{{ t.memo }}</a></td>
							<td><span class="btn btn-default btn-md text-primary ">{{ t.amount_asset | formatAsset }}</span></td>
							<td>{{ t.fee | formatAsset}}</td>
						</tr>
                        <tr ng-if="warning">
                             <td>{{warning}}</td>
                             <td col-span="6"></td>
                        </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	

