<div class="header">
    <div class="col-sm-12">
        <h3 class="header-title">Transaction #{{id.substr(0, 8)}}</h3>
	</div>
</div>

<div class="main-content">

    <div id="tx-{{ id.substr(0,8) }}" >
        <table class="table table-striped">
            <tbody>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left">Total In</span>
                </td>
            </tr>
            <tr ng-repeat="i in t.in">
                <td></td>
                <td></td>
                <td></td>
                <td>{{ i[1] | toAsset | formatAsset }}</td>
            </tr>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left">Total Out</span>
                </td>
            </tr>
            <tr ng-repeat="o in t.out">
                <td></td>
                <td></td>
                <td></td>
                <td>{{ o[1] | toAsset | formatAsset }}</td>
            </tr>
            <tr>
                <td colspan="4" align="left">
                    <span class="pull-left">Delegate Vote Change</span>
                </td>
            </tr>
            <tr ng-repeat="vote in t.net_delegate_votes">
                <td>Delegate ID: <a href="#/delegate/{{vote[0]}}">{{ vote[0] }}</a></td>
                <td>Vote For Change:&nbsp;{{ vote[1].votes_for }}</td>
                <td>Vote Against Change:&nbsp;{{ vote[1].votes_against }}</td>
                <td>Delegate's total change: {{ vote[1].votes_for - vote[1].votes_against }}</td>
            </tr>
        </tbody>
        </table>
        <div ng-repeat="operation in t.trx.operations">
            <pre>{{operation}}</pre>
        </div>
    </div>
</div>
