<table style="width: 100%; height: 100%;">
  <tr>
    <td class="splashpage-wrapper">
      <section>
        <div class="str-top">
          <img src="img/xts-logo-xl-white-shadow.png"/>
          <h4 translate>unlock.desc_title</h4>
        </div>

        <div class="str-bottom">
          <div ng-show="update_available" class="danger" translate>tip.client_update_available</div>
          <form ng-submit="submitForm()" role="form" novalidate>
            <div class="form-group">
              <input ng-model="spending_password" name="sp" type="password" class="form-control input"
                     placeholder="Password" tabindex="1" autofocus focus
                     ng-keydown="keydown($event)" ng-keypress="keypress($event)" ng-trim="false"/>
              <button ng-disabled="!spending_password || loading_indicator.show" type="submit" tabindex="2" class="btn btn-primary" translate>
                unlock.btn_unlock
              </button>
            </div>
            <label class="text-danger" ng-show="wrongPass" translate> unlock.wrong_pass </label> <label
              class="text-danger" ng-show="capsLockOn" translate> unlock.caps_lock_on </label>
          </form>
          <!--<img ng-if="theme==='default'" src="img/logo-ico-blue.svg" width="64" height="64"/> <img ng-if="theme==='flowers'"-->
                                                                                              <!--src="img/logo-ico-blue.svg"-->
                                                                                              <!--width="64" height="64"/>-->
          <br/><br/> <span class="client-version" ng-class="theme">{{client_version}}</span>
        </div>
      </section>
    </td>
  </tr>
</table>
